[core]
	editor = \"D:\\Microsoft VS Code\\Code.exe\" --wait
	autocrlf = true
[user]
	email = ac9998123@gmail.com
	name = packchanjong
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
