
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>초보투자자를 위한 암호화폐 자동매매 시스템</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<link rel="stylesheet" href="assets/css/main.css">
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css">
	</noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<span class="logo"><a href="mainpage"><img src="img/logo.png" alt="" /></a></span>
			<h1>초보투자자를 위한</h1>
			</br>
			<h1>암호화폐 자동매매 시스템</h1>
			<p>
				<h5>built by <a href="https://github.com/github-team-project/github-team-project.github.io">@SOLVER DUO</a>
					</p>
			</h5>
			<ul id="headMenu">
				<li><a href="../SignIn">로그인</a></li>
				<li><a href="../SignUp">회원가입</a></li>
				<li><a href="../MockInvestment/BTCKRW">거래소(모의투자/자동매매)</a></li>
				<li><a href="../InvestmentDetails">투자내역</a></li>
				<li><a href="../News">뉴스정보</a></li>
				<li><a href="../ServiceCenter">고객센터</a></li>
			</ul>

		</header>

		<!-- Main -->
		{{{body}}}

		<!-- Footer -->
		<footer id="footer">
			<section>
				<h2>증권 투자 및 간접 투자 상품<br />투자 시 유의사항</h2>
				<p>1. 증권투자는 본인의 판단과 책임으로.<br />
					2. 높은 수익에는 높은 위험이.<br />
					3. 계좌관련 정보, 증권카드 등은 본인이 직접 관리해야.<br />
					4. 매매거래에 이상이 있는지 수시로 확인해야.<br />
					5. 원금이나 수익이 보장되지 않습니다.<br />
					6. 주요내용 반드시 확인하고 가입!<br />
					7. 그 밖에 알아두어야 할 사항<br /></p>
			</section>
			<section>
				<h2>제작자 정보</h2>
				<dl class="alt">
					<dt>주소</dt>
					<dd>비공개 &bull; 비공개 &bull; KOREA</dd>
					<dt>Phone</dt>
					<dd>비공개</dd>
					<dt>Email</dt>
					<dd><a href="mailto:click.if.you.are.curious@gmail.com" target="_blank">click.if.you.are.curious@gmail.com</a></dd>
				</dl>
				<ul class="icons">
					<li><a href="https://www.twitter.com" target="_blank" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com" target="_blank" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.instagram.com" target="_blank" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
					<li><a href="https://www.github.com" target="_blank" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
					<li><a href="https://www.dribbble.com" target="_blank" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li>
				</ul>
			</section>
			<p class="copyright">&copy; Untitled. Design: <a
					href="https://github.com/github-team-project/github-team-project.github.io">SOLVER DUO</a>.</p>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>