
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>초보투자자를 위한 암호화폐 자동매매 시스템</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<link rel="stylesheet" href="assets/css/main.css">
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css">
	</noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<span class="logo"><a href="../MockInvestment/BTCKRW"><img src="img/logo.png" alt="" /></a></span>
			</br>
			<h1>암호화폐 자동매매 시스템</h1>
			<ul>
				<li><a href="../SignIn">로그인</a></li>
				<li><a href="../SignUp">회원가입</a></li>
				<li><a href="../MockInvestment/BTCKRW">거래소(모의투자/자동매매)</a></li>
				<li><a href="../InvestmentDetails">투자내역</a></li>
				<li><a href="../CoinWallet">코인지갑</a></li>
			</ul>
		</header>
		{{{body}}}
	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>