<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" rel="stylesheet" href="css/sheet.css">
<style type="text/css">
    .ritz .waffle a {
        color: inherit;
    }

    .ritz .waffle .s1 {
        background-color: #ffffff;
        text-align: left;
        text-decoration: underline;
        -webkit-text-decoration-skip: none;
        text-decoration-skip-ink: none;
        color: #1155cc;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s0 {
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }
</style>
<div class="ritz grid-container" dir="ltr">
    <table class="waffle" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th class="row-header freezebar-origin-ltr"></th>
                <th id="0C0" style="width:722px;" class="column-headers-background">A</th>
                <th id="0C1" style="width:3212px;" class="column-headers-background">B</th>
                <th id="0C2" style="width:205px;" class="column-headers-background">C</th>
                <th id="0C3" style="width:718px;" class="column-headers-background">D</th>
            </tr>
        </thead>
        <tbody>
            <tr style="height: 20px">
                <th id="0R0" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">1</div>
                </th>
                <td class="s0">Title</td>
                <td class="s0">URL</td>
                <td class="s0">Date Created</td>
                <td class="s0">Summary</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R1" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">2</div>
                </th>
                <td class="s0">밤새 비트코인 +4%, 이더리움 +9%…&quot;금과 상관관계 높아져&quot; [한경 코알라] 부터 Hankyung - Investing.com</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiNGh0dHBzOi8va3IuaW52ZXN0aW5nLmNvbS9uZXdzL2Vjb25vbXkvYXJ0aWNsZS04NDU4NzjSAQA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiNGh0dHBzOi8va3IuaW52ZXN0aW5nLmNvbS9uZXdzL2Vjb25vbXkvYXJ0aWNsZS04NDU4NzjSAQA?oc=5</a>
                </td>
                <td class="s0">Wed, 26 Oct 2022 01:10:00 GMT</td>
                <td class="s0">밤새 비트코인 +4%, 이더리움 +9%…&quot;금과 상관관계 높아져&quot; [한경 코알라] 부터 Hankyung Investing.com</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R2" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">3</div>
                </th>
                <td class="s0">[오전브리핑] 이정훈, BTC 숏 청산, 이더리움, 튀르키예 - Coindesk Korea</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiP2h0dHBzOi8vd3d3LmNvaW5kZXNra29yZWEuY29tL25ld3MvYXJ0aWNsZVZpZXcuaHRtbD9pZHhubz04MTg5NNIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiP2h0dHBzOi8vd3d3LmNvaW5kZXNra29yZWEuY29tL25ld3MvYXJ0aWNsZVZpZXcuaHRtbD9pZHhubz04MTg5NNIBAA?oc=5</a>
                </td>
                <td class="s0">Wed, 26 Oct 2022 01:30:00 GMT</td>
                <td class="s0">[오전브리핑] 이정훈, BTC 숏 청산, 이더리움, 튀르키예 Coindesk Korea</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R3" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">4</div>
                </th>
                <td class="s0">[코인 빅데이터] 머지 이후 간만에 랠리...이더리움(ETH) vs 이더리움클래식(ETC) 트렌드 - 코인리더스</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiIGh0dHA6Ly93d3cuY29pbnJlYWRlcnMuY29tLzQ5NzA00gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiIGh0dHA6Ly93d3cuY29pbnJlYWRlcnMuY29tLzQ5NzA00gEA?oc=5</a>
                </td>
                <td class="s0">Wed, 26 Oct 2022 04:23:00 GMT</td>
                <td class="s0">[코인 빅데이터] 머지 이후 간만에 랠리...이더리움(ETH) vs 이더리움클래식(ETC) 트렌드 코인리더스</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R4" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">5</div>
                </th>
                <td class="s0">비트코인 2760만원, 이더리움 193만원...상황은? 부터 Economic Review - Investing.com</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiQGh0dHBzOi8va3IuaW52ZXN0aW5nLmNvbS9uZXdzL2NyeXB0b2N1cnJlbmN5LW5ld3MvYXJ0aWNsZS04NDU4MzHSAQA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiQGh0dHBzOi8va3IuaW52ZXN0aW5nLmNvbS9uZXdzL2NyeXB0b2N1cnJlbmN5LW5ld3MvYXJ0aWNsZS04NDU4MzHSAQA?oc=5</a>
                </td>
                <td class="s0">Wed, 26 Oct 2022 00:11:00 GMT</td>
                <td class="s0">비트코인 2760만원, 이더리움 193만원...상황은? 부터 Economic Review Investing.com</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R5" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">6</div>
                </th>
                <td class="s0">미래에셋 글로벌X, 비트코인·이더리움 ETP 스위스 증권거래소 상장 - 더구루</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiNGh0dHBzOi8vd3d3LnRoZWd1cnUuY28ua3IvbmV3cy9hcnRpY2xlLmh0bWw_bm89NDQwNjnSAQA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiNGh0dHBzOi8vd3d3LnRoZWd1cnUuY28ua3IvbmV3cy9hcnRpY2xlLmh0bWw_bm89NDQwNjnSAQA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 23:45:19 GMT</td>
                <td class="s0">미래에셋 글로벌X, 비트코인·이더리움 ETP 스위스 증권거래소 상장 더구루</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R6" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">7</div>
                </th>
                <td class="s0">[오후 시세브리핑] 비트코인 4.78% ↑ 이더리움 10.85% ↑ - 토큰포스트</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiJ2h0dHBzOi8vd3d3LnRva2VucG9zdC5rci9hcnRpY2xlLTEwOTg1M9IBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiJ2h0dHBzOi8vd3d3LnRva2VucG9zdC5rci9hcnRpY2xlLTEwOTg1M9IBAA?oc=5</a>
                </td>
                <td class="s0">Wed, 26 Oct 2022 02:36:00 GMT</td>
                <td class="s0">[오후 시세브리핑] 비트코인 4.78% ↑ 이더리움 10.85% ↑ 토큰포스트</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R7" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">8</div>
                </th>
                <td class="s0">이더리움 킬러&#39; 솔라, 전고점 돌파 가능성은?...FTX 설립자 ˝가장 저평가된 코인은 SOL˝ - 코인리더스</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiIGh0dHA6Ly93d3cuY29pbnJlYWRlcnMuY29tLzQ5Njc20gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiIGh0dHA6Ly93d3cuY29pbnJlYWRlcnMuY29tLzQ5Njc20gEA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 23:34:00 GMT</td>
                <td class="s0">이더리움 킬러&#39; 솔라, 전고점 돌파 가능성은?...FTX 설립자 ˝가장 저평가된 코인은 SOL˝ 코인리더스</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R8" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">9</div>
                </th>
                <td class="s0">가상화폐 밀크 476원1253 거래중 - 한국경제TV</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiRGh0dHBzOi8vd3d3Lndvd3R2LmNvLmtyL05ld3NDZW50ZXIvTmV3cy9SZWFkP2FydGljbGVJZD1BMjAyMjEwMjYwMDMy0gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiRGh0dHBzOi8vd3d3Lndvd3R2LmNvLmtyL05ld3NDZW50ZXIvTmV3cy9SZWFkP2FydGljbGVJZD1BMjAyMjEwMjYwMDMy0gEA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 23:31:00 GMT</td>
                <td class="s0">가상화폐 밀크 476원1253 거래중 한국경제TV</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R9" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">10</div>
                </th>
                <td class="s0">[코인 시황] 비트코인, 20K 돌파...가상화폐 시총 1조달러 회복 - 뉴스핌</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiLmh0dHBzOi8vbS5uZXdzcGltLmNvbS9uZXdzL3ZpZXcvMjAyMjEwMjYwMDAzNjjSATFodHRwczovL20ubmV3c3BpbS5jb20vbmV3c2FtcC92aWV3LzIwMjIxMDI2MDAwMzY4?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiLmh0dHBzOi8vbS5uZXdzcGltLmNvbS9uZXdzL3ZpZXcvMjAyMjEwMjYwMDAzNjjSATFodHRwczovL20ubmV3c3BpbS5jb20vbmV3c2FtcC92aWV3LzIwMjIxMDI2MDAwMzY4?oc=5</a>
                </td>
                <td class="s0">Wed, 26 Oct 2022 02:11:00 GMT</td>
                <td class="s0">[코인 시황] 비트코인, 20K 돌파...가상화폐 시총 1조달러 회복 뉴스핌</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R10" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">11</div>
                </th>
                <td class="s0">FTX 설립자 샘 뱅크먼 프리드와의 대화 - 포춘코리아</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiP2h0dHA6Ly93d3cuZm9ydHVuZWtvcmVhLmNvLmtyL25ld3MvYXJ0aWNsZVZpZXcuaHRtbD9pZHhubz0yNDAwN9IBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiP2h0dHA6Ly93d3cuZm9ydHVuZWtvcmVhLmNvLmtyL25ld3MvYXJ0aWNsZVZpZXcuaHRtbD9pZHhubz0yNDAwN9IBAA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 23:00:00 GMT</td>
                <td class="s0">FTX 설립자 샘 뱅크먼 프리드와의 대화 포춘코리아</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R11" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">12</div>
                </th>
                <td class="s0">비트코인 2만달러 돌파…이더리움, 머지 이후 최고점 - 한국경제</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiNmh0dHBzOi8vd3d3Lmhhbmt5dW5nLmNvbS9maW5hbmNlL2FydGljbGUvMjAyMjEwMjYzNjM1QtIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiNmh0dHBzOi8vd3d3Lmhhbmt5dW5nLmNvbS9maW5hbmNlL2FydGljbGUvMjAyMjEwMjYzNjM1QtIBAA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 22:48:00 GMT</td>
                <td class="s0">비트코인 2만달러 돌파…이더리움, 머지 이후 최고점 한국경제</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R12" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">13</div>
                </th>
                <td class="s0">이더리움 9% 급등, 장중 1,500달러 돌파...ETH 디플레이션 계속 - 코인리더스</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiIGh0dHA6Ly93d3cuY29pbnJlYWRlcnMuY29tLzQ5Njc10gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiIGh0dHA6Ly93d3cuY29pbnJlYWRlcnMuY29tLzQ5Njc10gEA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 22:34:00 GMT</td>
                <td class="s0">이더리움 9% 급등, 장중 1,500달러 돌파...ETH 디플레이션 계속 코인리더스</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R13" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">14</div>
                </th>
                <td class="s0">[책꽂이] &#39;이더리움&#39; 창시자가 말하는 블록체인 - 서울경제신문</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiKWh0dHBzOi8vbS5zZWRhaWx5LmNvbS9OZXdzVmlldy8yNkM4VEwyRFFS0gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiKWh0dHBzOi8vbS5zZWRhaWx5LmNvbS9OZXdzVmlldy8yNkM4VEwyRFFS0gEA?oc=5</a>
                </td>
                <td class="s0">Thu, 06 Oct 2022 07:00:00 GMT</td>
                <td class="s0">[책꽂이] &#39;이더리움&#39; 창시자가 말하는 블록체인 서울경제신문</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R14" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">15</div>
                </th>
                <td class="s0">[주간블록체인] 너도나도 &#39;이더리움 능가&#39; 자신…안철수 깜짝방문에 UDC 행사장 들썩 - 디지털데일리</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiLGh0dHA6Ly9tLmRkYWlseS5jby5rci9tL21fYXJ0aWNsZS8_bm89MjQ3NDI50gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiLGh0dHA6Ly9tLmRkYWlseS5jby5rci9tL21fYXJ0aWNsZS8_bm89MjQ3NDI50gEA?oc=5</a>
                </td>
                <td class="s0">Mon, 26 Sep 2022 07:00:00 GMT</td>
                <td class="s0">[주간블록체인] 너도나도 &#39;이더리움 능가&#39; 자신…안철수 깜짝방문에 UDC 행사장 들썩 디지털데일리</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R15" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">16</div>
                </th>
                <td class="s0">이더리움 가격이 10% 상승 By Investing.com - Investing.com</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiQGh0dHBzOi8va3IuaW52ZXN0aW5nLmNvbS9uZXdzL2NyeXB0b2N1cnJlbmN5LW5ld3MvYXJ0aWNsZS04NDU2NznSAQA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiQGh0dHBzOi8va3IuaW52ZXN0aW5nLmNvbS9uZXdzL2NyeXB0b2N1cnJlbmN5LW5ld3MvYXJ0aWNsZS04NDU2NznSAQA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 17:03:00 GMT</td>
                <td class="s0">이더리움 가격이 10% 상승 By Investing.com Investing.com</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R16" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">17</div>
                </th>
                <td class="s0">암호화폐 커뮤니티 이더리움 11월 강세 전망 - 블록미디어</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiLGh0dHBzOi8vd3d3LmJsb2NrbWVkaWEuY28ua3IvYXJjaGl2ZXMvMjY1ODY30gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiLGh0dHBzOi8vd3d3LmJsb2NrbWVkaWEuY28ua3IvYXJjaGl2ZXMvMjY1ODY30gEA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 13:22:00 GMT</td>
                <td class="s0">암호화폐 커뮤니티 이더리움 11월 강세 전망 블록미디어</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R17" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">18</div>
                </th>
                <td class="s0">밀크-그로스톨코인-앱토스 거래주도...비트코인-이더리움-이더리움클래식 급등세 - 소셜밸류</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiNWh0dHBzOi8vd3d3LnNvY2lhbHZhbHVlLmtyL25ld3Mvdmlldy8xMDY1NTQyNjQ1OTgyMTY10gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiNWh0dHBzOi8vd3d3LnNvY2lhbHZhbHVlLmtyL25ld3Mvdmlldy8xMDY1NTQyNjQ1OTgyMTY10gEA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 16:04:38 GMT</td>
                <td class="s0">밀크-그로스톨코인-앱토스 거래주도...비트코인-이더리움-이더리움클래식 급등세 소셜밸류</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R18" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">19</div>
                </th>
                <td class="s0">가상화폐 비트코인 034 상승 밀크 1229 상승 - 한국경제TV</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiRGh0dHBzOi8vd3d3Lndvd3R2LmNvLmtyL05ld3NDZW50ZXIvTmV3cy9SZWFkP2FydGljbGVJZD1BMjAyMjEwMjUwMzY00gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiRGh0dHBzOi8vd3d3Lndvd3R2LmNvLmtyL05ld3NDZW50ZXIvTmV3cy9SZWFkP2FydGljbGVJZD1BMjAyMjEwMjUwMzY00gEA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 14:31:00 GMT</td>
                <td class="s0">가상화폐 비트코인 034 상승 밀크 1229 상승 한국경제TV</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R19" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">20</div>
                </th>
                <td class="s0">[뉴욕 코인시황/출발] 전반적 하락세 ... BTC 변동성 나스닥 이하 - 블록미디어</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiLGh0dHBzOi8vd3d3LmJsb2NrbWVkaWEuY28ua3IvYXJjaGl2ZXMvMjY1ODUx0gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiLGh0dHBzOi8vd3d3LmJsb2NrbWVkaWEuY28ua3IvYXJjaGl2ZXMvMjY1ODUx0gEA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 13:00:00 GMT</td>
                <td class="s0">[뉴욕 코인시황/출발] 전반적 하락세 ... BTC 변동성 나스닥 이하 블록미디어</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R20" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">21</div>
                </th>
                <td class="s0">폴리곤 주요 저항선 잇따라 돌파 ... 1달러 겨냥 - 차트 분석가들 - 블록미디어</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiLGh0dHBzOi8vd3d3LmJsb2NrbWVkaWEuY28ua3IvYXJjaGl2ZXMvMjY1ODg40gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiLGh0dHBzOi8vd3d3LmJsb2NrbWVkaWEuY28ua3IvYXJjaGl2ZXMvMjY1ODg40gEA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 14:55:00 GMT</td>
                <td class="s0">폴리곤 주요 저항선 잇따라 돌파 ... 1달러 겨냥 - 차트 분석가들 블록미디어</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R21" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">22</div>
                </th>
                <td class="s0">[IT이슈] 크립토닷컴-에이시티 게임즈, 블록체인 게임 MOU 체결 外 - 로이슈</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiRmh0dHBzOi8vd3d3Lmxhd2lzc3VlLmNvLmtyL3ZpZXcucGhwP3VkPTIwMjIxMDI1MTk0OTQxNjYxNDIwNGVhZDA3OTFfMTLSAQA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiRmh0dHBzOi8vd3d3Lmxhd2lzc3VlLmNvLmtyL3ZpZXcucGhwP3VkPTIwMjIxMDI1MTk0OTQxNjYxNDIwNGVhZDA3OTFfMTLSAQA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 10:50:06 GMT</td>
                <td class="s0">[IT이슈] 크립토닷컴-에이시티 게임즈, 블록체인 게임 MOU 체결 外 로이슈</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R22" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">23</div>
                </th>
                <td class="s0">비트코인 2760만원, 이더리움 193만원...상황은? &lt; IT/스타트업 &lt; IT/스타트업 &lt; 기사본문 - 이코노믹리뷰</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiPGh0dHBzOi8vd3d3LmVjb25vdmlsbC5jb20vbmV3cy9hcnRpY2xlVmlldy5odG1sP2lkeG5vPTU5MzQ0MtIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiPGh0dHBzOi8vd3d3LmVjb25vdmlsbC5jb20vbmV3cy9hcnRpY2xlVmlldy5odG1sP2lkeG5vPTU5MzQ0MtIBAA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 12:28:30 GMT</td>
                <td class="s0">비트코인 2760만원, 이더리움 193만원...상황은? &lt; IT/스타트업 &lt; IT/스타트업 &lt; 기사본문 이코노믹리뷰</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R23" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">24</div>
                </th>
                <td class="s0">미국 선물 하락세.. ECB 임박, 자이언트스텝 예상..비트코인, 이더리움 약보합..삼성전자 상승 마감 - 매일안전신문</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiLWh0dHBzOi8vaWRzbi5jby5rci9uZXdzL3ZpZXcvMTA2NTYwNjU2MzU1MDE2M9IBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiLWh0dHBzOi8vaWRzbi5jby5rci9uZXdzL3ZpZXcvMTA2NTYwNjU2MzU1MDE2M9IBAA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 10:12:16 GMT</td>
                <td class="s0">미국 선물 하락세.. ECB 임박, 자이언트스텝 예상..비트코인, 이더리움 약보합..삼성전자 상승 마감 매일안전신문</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R24" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">25</div>
                </th>
                <td class="s0">&quot;이더리움, &#39;잘못된 시기&#39;에 업그레이드… 결국 &#39;죽음&#39; 이를 것&quot; - 블록체인투데이</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiQ2h0dHBzOi8vd3d3LmJsb2NrY2hhaW50b2RheS5jby5rci9uZXdzL2FydGljbGVWaWV3Lmh0bWw_aWR4bm89MjQ1MjfSAQA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiQ2h0dHBzOi8vd3d3LmJsb2NrY2hhaW50b2RheS5jby5rci9uZXdzL2FydGljbGVWaWV3Lmh0bWw_aWR4bm89MjQ1MjfSAQA?oc=5</a>
                </td>
                <td class="s0">Mon, 26 Sep 2022 07:00:00 GMT</td>
                <td class="s0">&quot;이더리움, &#39;잘못된 시기&#39;에 업그레이드… 결국 &#39;죽음&#39; 이를 것&quot; 블록체인투데이</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R25" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">26</div>
                </th>
                <td class="s0">비트코인 2700만 원대 머물러, 미국서 가상화폐 뇌물 중국 스파이 기소 - 비즈니스포스트</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiQWh0dHBzOi8vd3d3LmJ1c2luZXNzcG9zdC5jby5rci9CUD9jb21tYW5kPWFydGljbGVfdmlldyZudW09Mjk2MjAz0gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiQWh0dHBzOi8vd3d3LmJ1c2luZXNzcG9zdC5jby5rci9CUD9jb21tYW5kPWFydGljbGVfdmlldyZudW09Mjk2MjAz0gEA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 00:16:41 GMT</td>
                <td class="s0">비트코인 2700만 원대 머물러, 미국서 가상화폐 뇌물 중국 스파이 기소 비즈니스포스트</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R26" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">27</div>
                </th>
                <td class="s0">가상화폐 밀크 98원 상승한 521원에 거래 - 한국경제TV</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiRGh0dHBzOi8vd3d3Lndvd3R2LmNvLmtyL05ld3NDZW50ZXIvTmV3cy9SZWFkP2FydGljbGVJZD1BMjAyMjEwMjUwMjEz0gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiRGh0dHBzOi8vd3d3Lndvd3R2LmNvLmtyL05ld3NDZW50ZXIvTmV3cy9SZWFkP2FydGljbGVJZD1BMjAyMjEwMjUwMjEz0gEA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 05:31:00 GMT</td>
                <td class="s0">가상화폐 밀크 98원 상승한 521원에 거래 한국경제TV</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R27" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">28</div>
                </th>
                <td class="s0">솔라나 킬러&#39;라는 앱토스, 크립토 윈터 구세주 될까? - Byline Network - 바이라인네트워크</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiJmh0dHBzOi8vYnlsaW5lLm5ldHdvcmsvMjAyMi8xMC8yNS0yMzQv0gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiJmh0dHBzOi8vYnlsaW5lLm5ldHdvcmsvMjAyMi8xMC8yNS0yMzQv0gEA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 10:29:22 GMT</td>
                <td class="s0">솔라나 킬러&#39;라는 앱토스, 크립토 윈터 구세주 될까? - Byline Network 바이라인네트워크</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R28" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">29</div>
                </th>
                <td class="s0">이더리움 머지 후에도 가격 하락 지속...˝ETH 증권 분류 여부, SEC와 입장차 존재˝ - 코인리더스</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiIGh0dHA6Ly93d3cuY29pbnJlYWRlcnMuY29tLzQ5NTQ20gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiIGh0dHA6Ly93d3cuY29pbnJlYWRlcnMuY29tLzQ5NTQ20gEA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 03:14:00 GMT</td>
                <td class="s0">이더리움 머지 후에도 가격 하락 지속...˝ETH 증권 분류 여부, SEC와 입장차 존재˝ 코인리더스</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R29" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">30</div>
                </th>
                <td class="s0">솔라나, 디파이 TVL과 NFT 거래 하락 추세 지속… 니어 TVL도 43% 줄어 - 블록미디어</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiLGh0dHBzOi8vd3d3LmJsb2NrbWVkaWEuY28ua3IvYXJjaGl2ZXMvMjY1Nzgy0gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiLGh0dHBzOi8vd3d3LmJsb2NrbWVkaWEuY28ua3IvYXJjaGl2ZXMvMjY1Nzgy0gEA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 05:35:00 GMT</td>
                <td class="s0">솔라나, 디파이 TVL과 NFT 거래 하락 추세 지속… 니어 TVL도 43% 줄어 블록미디어</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R30" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">31</div>
                </th>
                <td class="s0">엔터프라이즈는 어떻게 웹3를 활용할 것인가 - ZD넷 코리아</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiK2h0dHBzOi8vemRuZXQuY28ua3Ivdmlldy8_bm89MjAyMjEwMjUxMTI5MDLSAQA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiK2h0dHBzOi8vemRuZXQuY28ua3Ivdmlldy8_bm89MjAyMjEwMjUxMTI5MDLSAQA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 04:42:24 GMT</td>
                <td class="s0">엔터프라이즈는 어떻게 웹3를 활용할 것인가 ZD넷 코리아</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R31" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">32</div>
                </th>
                <td class="s0">실적보다 연간 가이던스가 중요해..미 상승 마감 속 테슬라 하락..비트코인과 이더리움은 안정적 - 매일안전신문</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiLWh0dHBzOi8vaWRzbi5jby5rci9uZXdzL3ZpZXcvMTA2NTU2NDM3Nzg3NjM1OdIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiLWh0dHBzOi8vaWRzbi5jby5rci9uZXdzL3ZpZXcvMTA2NTU2NDM3Nzg3NjM1OdIBAA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 22:29:33 GMT</td>
                <td class="s0">실적보다 연간 가이던스가 중요해..미 상승 마감 속 테슬라 하락..비트코인과 이더리움은 안정적 매일안전신문</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R32" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">33</div>
                </th>
                <td class="s0">표철민 체인파트너스 대표의 ‘Dream’ &amp; ‘Changer’ - 테크42</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMilgFodHRwczovL3d3dy50ZWNoNDIuY28ua3IvJUVEJTkxJTlDJUVDJUIyJUEwJUVCJUFGJUJDLSVFQyVCMiVCNCVFQyU5RCVCOCVFRCU4QyU4QyVFRCU4QSVCOCVFQiU4NCU4OCVFQyU4QSVBNC0lRUIlOEMlODAlRUQlOTElOUMlRUMlOUQlOTgtZHJlYW0tY2hhbmdlci_SAQA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMilgFodHRwczovL3d3dy50ZWNoNDIuY28ua3IvJUVEJTkxJTlDJUVDJUIyJUEwJUVCJUFGJUJDLSVFQyVCMiVCNCVFQyU5RCVCOCVFRCU4QyU4QyVFRCU4QSVCOCVFQiU4NCU4OCVFQyU4QSVBNC0lRUIlOEMlODAlRUQlOTElOUMlRUMlOUQlOTgtZHJlYW0tY2hhbmdlci_SAQA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 01:19:07 GMT</td>
                <td class="s0">표철민 체인파트너스 대표의 ‘Dream’ &amp; ‘Changer’ 테크42</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R33" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">34</div>
                </th>
                <td class="s0">&quot;트위터 암호화폐 지갑 시제품 제작중&quot;--뉴스BTC - 블록미디어</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiLGh0dHBzOi8vd3d3LmJsb2NrbWVkaWEuY28ua3IvYXJjaGl2ZXMvMjY1NzA00gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiLGh0dHBzOi8vd3d3LmJsb2NrbWVkaWEuY28ua3IvYXJjaGl2ZXMvMjY1NzA00gEA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 22:44:00 GMT</td>
                <td class="s0">&quot;트위터 암호화폐 지갑 시제품 제작중&quot;--뉴스BTC 블록미디어</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R34" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">35</div>
                </th>
                <td class="s0">[웹 3.0 노트] 블록체인 개념, 쉽게 이해하기 - 모비인사이드</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiNWh0dHBzOi8vd3d3Lm1vYmlpbnNpZGUuY28ua3IvMjAyMi8xMC8yNS9ibG9ja2NoYWluLTIv0gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiNWh0dHBzOi8vd3d3Lm1vYmlpbnNpZGUuY28ua3IvMjAyMi8xMC8yNS9ibG9ja2NoYWluLTIv0gEA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 14:00:00 GMT</td>
                <td class="s0">[웹 3.0 노트] 블록체인 개념, 쉽게 이해하기 모비인사이드</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R35" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">36</div>
                </th>
                <td class="s0">비트코인·이더리움 동시 반등으로 한 주 시작 - Coindesk Korea</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiP2h0dHBzOi8vd3d3LmNvaW5kZXNra29yZWEuY29tL25ld3MvYXJ0aWNsZVZpZXcuaHRtbD9pZHhubz04MTg1NNIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiP2h0dHBzOi8vd3d3LmNvaW5kZXNra29yZWEuY29tL25ld3MvYXJ0aWNsZVZpZXcuaHRtbD9pZHhubz04MTg1NNIBAA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 02:29:27 GMT</td>
                <td class="s0">비트코인·이더리움 동시 반등으로 한 주 시작 Coindesk Korea</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R36" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">37</div>
                </th>
                <td class="s0">이더리움 재단, 그랜트 프로그램 시작.. 레이어2 커뮤니티 육성 지원 - 코인리더스</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiIGh0dHA6Ly93d3cuY29pbnJlYWRlcnMuY29tLzQ5NTE40gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiIGh0dHA6Ly93d3cuY29pbnJlYWRlcnMuY29tLzQ5NTE40gEA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 00:00:17 GMT</td>
                <td class="s0">이더리움 재단, 그랜트 프로그램 시작.. 레이어2 커뮤니티 육성 지원 코인리더스</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R37" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">38</div>
                </th>
                <td class="s0">미국, 상품거래위원회 vs 증권거래위원회 ‘이더리움 정의 놓고 격돌’ - 경향게임스</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiPGh0dHBzOi8vd3d3LmtoZ2FtZXMuY28ua3IvbmV3cy9hcnRpY2xlVmlldy5odG1sP2lkeG5vPTIwNTE2NdIBP2h0dHBzOi8vd3d3LmtoZ2FtZXMuY28ua3IvbmV3cy9hcnRpY2xlVmlld0FtcC5odG1sP2lkeG5vPTIwNTE2NQ?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiPGh0dHBzOi8vd3d3LmtoZ2FtZXMuY28ua3IvbmV3cy9hcnRpY2xlVmlldy5odG1sP2lkeG5vPTIwNTE2NdIBP2h0dHBzOi8vd3d3LmtoZ2FtZXMuY28ua3IvbmV3cy9hcnRpY2xlVmlld0FtcC5odG1sP2lkeG5vPTIwNTE2NQ?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 00:52:23 GMT</td>
                <td class="s0">미국, 상품거래위원회 vs 증권거래위원회 ‘이더리움 정의 놓고 격돌’ 경향게임스</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R38" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">39</div>
                </th>
                <td class="s0">비트코인·이더리움 약세, 추세 전환 언제쯤...투자자 50% ˝BTC 올해 2만5천달러 못 넘어˝ - 코인리더스</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiIGh0dHA6Ly93d3cuY29pbnJlYWRlcnMuY29tLzQ5NTE20gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiIGh0dHA6Ly93d3cuY29pbnJlYWRlcnMuY29tLzQ5NTE20gEA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 23:24:00 GMT</td>
                <td class="s0">비트코인·이더리움 약세, 추세 전환 언제쯤...투자자 50% ˝BTC 올해 2만5천달러 못 넘어˝ 코인리더스</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R39" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">40</div>
                </th>
                <td class="s0">&quot;비트코인 13K까지 떨어질 수 있다&quot; - CoinDesk Korea 신뢰 그 이상의 가치 - Coindesk Korea</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiPmh0dHA6Ly93d3cuY29pbmRlc2trb3JlYS5jb20vbmV3cy9hcnRpY2xlVmlldy5odG1sP2lkeG5vPTgxODc10gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiPmh0dHA6Ly93d3cuY29pbmRlc2trb3JlYS5jb20vbmV3cy9hcnRpY2xlVmlldy5odG1sP2lkeG5vPTgxODc10gEA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 00:59:30 GMT</td>
                <td class="s0">&quot;비트코인 13K까지 떨어질 수 있다&quot; - CoinDesk Korea 신뢰 그 이상의 가치 Coindesk Korea</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R40" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">41</div>
                </th>
                <td class="s0">실적보다 연간 가이던스가 중요해..미 상승 마감 속 테슬라 하락..비트코인과 이더리움은 안정적 - 매일안전신문</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiLWh0dHBzOi8vaWRzbi5jby5rci9uZXdzL3ZpZXcvMTA2NTU2NDM3Nzg3NjM1OdIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiLWh0dHBzOi8vaWRzbi5jby5rci9uZXdzL3ZpZXcvMTA2NTU2NDM3Nzg3NjM1OdIBAA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 22:29:33 GMT</td>
                <td class="s0">실적보다 연간 가이던스가 중요해..미 상승 마감 속 테슬라 하락..비트코인과 이더리움은 안정적 매일안전신문</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R41" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">42</div>
                </th>
                <td class="s0">[오전브리핑] 애플 NFT 거래, 레딧 NFT, 비트코인 가격, 라자루스, 스테이블코인 - Coindesk Korea</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiPmh0dHA6Ly93d3cuY29pbmRlc2trb3JlYS5jb20vbmV3cy9hcnRpY2xlVmlldy5odG1sP2lkeG5vPTgxODc30gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiPmh0dHA6Ly93d3cuY29pbmRlc2trb3JlYS5jb20vbmV3cy9hcnRpY2xlVmlldy5odG1sP2lkeG5vPTgxODc30gEA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 01:30:00 GMT</td>
                <td class="s0">[오전브리핑] 애플 NFT 거래, 레딧 NFT, 비트코인 가격, 라자루스, 스테이블코인 Coindesk Korea</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R42" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">43</div>
                </th>
                <td class="s0">로빈후드, 암호화폐 에이브·테조스 상장 - The Guru (더 구루)</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiNGh0dHBzOi8vd3d3LnRoZWd1cnUuY28ua3IvbmV3cy9hcnRpY2xlLmh0bWw_bm89NDQwMTjSAQA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiNGh0dHBzOi8vd3d3LnRoZWd1cnUuY28ua3IvbmV3cy9hcnRpY2xlLmh0bWw_bm89NDQwMTjSAQA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 00:54:59 GMT</td>
                <td class="s0">로빈후드, 암호화폐 에이브·테조스 상장 The Guru (더 구루)</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R43" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">44</div>
                </th>
                <td class="s0">10대 암호화폐 30일 변동폭 23%로 축소 ... 비트코인 변동성, S&amp;P500 변동성 하회 - 블록미디어</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiLGh0dHBzOi8vd3d3LmJsb2NrbWVkaWEuY28ua3IvYXJjaGl2ZXMvMjY1Njc20gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiLGh0dHBzOi8vd3d3LmJsb2NrbWVkaWEuY28ua3IvYXJjaGl2ZXMvMjY1Njc20gEA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 19:40:00 GMT</td>
                <td class="s0">10대 암호화폐 30일 변동폭 23%로 축소 ... 비트코인 변동성, S&amp;P500 변동성 하회 블록미디어</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R44" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">45</div>
                </th>
                <td class="s0">美 CFTC 위원장 “SEC와 규제 입장차” … SEC 위원장 “암호화폐 중앙집중화” - 블록미디어</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiLGh0dHBzOi8vd3d3LmJsb2NrbWVkaWEuY28ua3IvYXJjaGl2ZXMvMjY1NjU30gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiLGh0dHBzOi8vd3d3LmJsb2NrbWVkaWEuY28ua3IvYXJjaGl2ZXMvMjY1NjU30gEA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 17:52:00 GMT</td>
                <td class="s0">美 CFTC 위원장 “SEC와 규제 입장차” … SEC 위원장 “암호화폐 중앙집중화” 블록미디어</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R45" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">46</div>
                </th>
                <td class="s0">[IT이슈] 페루자 코퍼레이션, 스카이업과 MOU 체결 外 - 로이슈</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiRmh0dHBzOi8vd3d3Lmxhd2lzc3VlLmNvLmtyL3ZpZXcucGhwP3VkPTIwMjIxMDI0MjA0NjEzNzMzNjIwNGVhZDA3OTFfMTLSAQA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiRmh0dHBzOi8vd3d3Lmxhd2lzc3VlLmNvLmtyL3ZpZXcucGhwP3VkPTIwMjIxMDI0MjA0NjEzNzMzNjIwNGVhZDA3OTFfMTLSAQA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 11:46:31 GMT</td>
                <td class="s0">[IT이슈] 페루자 코퍼레이션, 스카이업과 MOU 체결 外 로이슈</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R46" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">47</div>
                </th>
                <td class="s0">경쟁자들이 이더리움을 못 이기는 이유 – 비트멕스 창업자 - 블록미디어</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiLGh0dHBzOi8vd3d3LmJsb2NrbWVkaWEuY28ua3IvYXJjaGl2ZXMvMjY1NjIz0gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiLGh0dHBzOi8vd3d3LmJsb2NrbWVkaWEuY28ua3IvYXJjaGl2ZXMvMjY1NjIz0gEA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 14:54:00 GMT</td>
                <td class="s0">경쟁자들이 이더리움을 못 이기는 이유 – 비트멕스 창업자 블록미디어</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R47" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">48</div>
                </th>
                <td class="s0">비트코인-이더리움 소강국면에 앱토스-그로스톨코인 급등...가스는 급락 - 소셜밸류</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiNWh0dHBzOi8vd3d3LnNvY2lhbHZhbHVlLmtyL25ld3Mvdmlldy8xMDY1NTQyNzA2MDQ2Mzkx0gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiNWh0dHBzOi8vd3d3LnNvY2lhbHZhbHVlLmtyL25ld3Mvdmlldy8xMDY1NTQyNzA2MDQ2Mzkx0gEA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 16:05:35 GMT</td>
                <td class="s0">비트코인-이더리움 소강국면에 앱토스-그로스톨코인 급등...가스는 급락 소셜밸류</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R48" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">49</div>
                </th>
                <td class="s0">미 증시 상승 속 테슬라 급락 보여..차분하게 ECB와 FOMC 살펴야..비트코인과 이더리움 안정적 - 매일안전신문</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiLWh0dHBzOi8vaWRzbi5jby5rci9uZXdzL3ZpZXcvMTA2NTYxOTU1NDU1MTE5MNIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiLWh0dHBzOi8vaWRzbi5jby5rci9uZXdzL3ZpZXcvMTA2NTYxOTU1NDU1MTE5MNIBAA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 13:48:23 GMT</td>
                <td class="s0">미 증시 상승 속 테슬라 급락 보여..차분하게 ECB와 FOMC 살펴야..비트코인과 이더리움 안정적 매일안전신문</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R49" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">50</div>
                </th>
                <td class="s0">[IT이슈] 사이펄리, 라리가(LaLiga) 메타버스 런칭 기념 공동 이벤트 진행 外 - 로이슈</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiRmh0dHBzOi8vd3d3Lmxhd2lzc3VlLmNvLmtyL3ZpZXcucGhwP3VkPTIwMjIxMDI0MTc0MDU4NDkyNzIwNGVhZDA3OTFfMTLSAQA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiRmh0dHBzOi8vd3d3Lmxhd2lzc3VlLmNvLmtyL3ZpZXcucGhwP3VkPTIwMjIxMDI0MTc0MDU4NDkyNzIwNGVhZDA3OTFfMTLSAQA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 08:41:23 GMT</td>
                <td class="s0">[IT이슈] 사이펄리, 라리가(LaLiga) 메타버스 런칭 기념 공동 이벤트 진행 外 로이슈</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R50" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">51</div>
                </th>
                <td class="s0">이더리움 고래, 9월 11일 이후 ETH 보유량 350만개 늘렸다 - 블록미디어</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiLGh0dHBzOi8vd3d3LmJsb2NrbWVkaWEuY28ua3IvYXJjaGl2ZXMvMjY1NDY00gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiLGh0dHBzOi8vd3d3LmJsb2NrbWVkaWEuY28ua3IvYXJjaGl2ZXMvMjY1NDY00gEA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 09:51:00 GMT</td>
                <td class="s0">이더리움 고래, 9월 11일 이후 ETH 보유량 350만개 늘렸다 블록미디어</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R51" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">52</div>
                </th>
                <td class="s0">이더리움, 움직이나 &lt; 블록체인 &lt; IT/스타트업 &lt; 기사본문 - 이코노믹리뷰</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiPGh0dHBzOi8vd3d3LmVjb25vdmlsbC5jb20vbmV3cy9hcnRpY2xlVmlldy5odG1sP2lkeG5vPTU5MzMxMdIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiPGh0dHBzOi8vd3d3LmVjb25vdmlsbC5jb20vbmV3cy9hcnRpY2xlVmlldy5odG1sP2lkeG5vPTU5MzMxMdIBAA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 13:10:48 GMT</td>
                <td class="s0">이더리움, 움직이나 &lt; 블록체인 &lt; IT/스타트업 &lt; 기사본문 이코노믹리뷰</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R52" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">53</div>
                </th>
                <td class="s0">[뉴욕 코인시황/출발] 대부분 상승세 ... 비트코인 해시레이트 사상 최고치 - 블록미디어</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiLGh0dHBzOi8vd3d3LmJsb2NrbWVkaWEuY28ua3IvYXJjaGl2ZXMvMjY1NTc00gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiLGh0dHBzOi8vd3d3LmJsb2NrbWVkaWEuY28ua3IvYXJjaGl2ZXMvMjY1NTc00gEA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 13:00:00 GMT</td>
                <td class="s0">[뉴욕 코인시황/출발] 대부분 상승세 ... 비트코인 해시레이트 사상 최고치 블록미디어</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R53" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">54</div>
                </th>
                <td class="s0">“이더리움 &#39;더 머지&#39; 이후 스테이킹 수익률이 올랐다고?” - Coindesk Korea</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiP2h0dHBzOi8vd3d3LmNvaW5kZXNra29yZWEuY29tL25ld3MvYXJ0aWNsZVZpZXcuaHRtbD9pZHhubz04MTg2MdIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiP2h0dHBzOi8vd3d3LmNvaW5kZXNra29yZWEuY29tL25ld3MvYXJ0aWNsZVZpZXcuaHRtbD9pZHhubz04MTg2MdIBAA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 07:30:00 GMT</td>
                <td class="s0">“이더리움 &#39;더 머지&#39; 이후 스테이킹 수익률이 올랐다고?” Coindesk Korea</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R54" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">55</div>
                </th>
                <td class="s0">[저녁브리핑] 비트코인·이더리움 동시 반등, 국감 증인, 이더리움 스테이킹 수익률, 코인 캘린더 - Coindesk Korea</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiP2h0dHBzOi8vd3d3LmNvaW5kZXNra29yZWEuY29tL25ld3MvYXJ0aWNsZVZpZXcuaHRtbD9pZHhubz04MTg2NtIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiP2h0dHBzOi8vd3d3LmNvaW5kZXNra29yZWEuY29tL25ld3MvYXJ0aWNsZVZpZXcuaHRtbD9pZHhubz04MTg2NtIBAA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 09:00:00 GMT</td>
                <td class="s0">[저녁브리핑] 비트코인·이더리움 동시 반등, 국감 증인, 이더리움 스테이킹 수익률, 코인 캘린더 Coindesk Korea</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R55" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">56</div>
                </th>
                <td class="s0">이더리움, 10월 셋째 주 가상화폐 상승장 주도 - 경향게임스</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiPGh0dHBzOi8vd3d3LmtoZ2FtZXMuY28ua3IvbmV3cy9hcnRpY2xlVmlldy5odG1sP2lkeG5vPTIwNTE0OdIBP2h0dHBzOi8vd3d3LmtoZ2FtZXMuY28ua3IvbmV3cy9hcnRpY2xlVmlld0FtcC5odG1sP2lkeG5vPTIwNTE0OQ?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiPGh0dHBzOi8vd3d3LmtoZ2FtZXMuY28ua3IvbmV3cy9hcnRpY2xlVmlldy5odG1sP2lkeG5vPTIwNTE0OdIBP2h0dHBzOi8vd3d3LmtoZ2FtZXMuY28ua3IvbmV3cy9hcnRpY2xlVmlld0FtcC5odG1sP2lkeG5vPTIwNTE0OQ?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 06:15:01 GMT</td>
                <td class="s0">이더리움, 10월 셋째 주 가상화폐 상승장 주도 경향게임스</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R56" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">57</div>
                </th>
                <td class="s0">[코인리더스] [코인 빅데이터] `이더리움 경쟁자`...폴리곤(MATIC) vs 아발란체(AVAX) 트렌드 - 코인리더스</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiIWh0dHBzOi8vd3d3LmNvaW5yZWFkZXJzLmNvbS80OTQxM9IBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiIWh0dHBzOi8vd3d3LmNvaW5yZWFkZXJzLmNvbS80OTQxM9IBAA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 06:31:00 GMT</td>
                <td class="s0">[코인리더스] [코인 빅데이터] `이더리움 경쟁자`...폴리곤(MATIC) vs 아발란체(AVAX) 트렌드 코인리더스</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R57" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">58</div>
                </th>
                <td class="s0">&quot;4년 주기설 고려하면 내년 중반 비트코인 가격 급등할 것&quot; [코인스캐너] 부터 Hankyung - Investing.com</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiNGh0dHBzOi8va3IuaW52ZXN0aW5nLmNvbS9uZXdzL2Vjb25vbXkvYXJ0aWNsZS04NDQ4NTXSAQA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiNGh0dHBzOi8va3IuaW52ZXN0aW5nLmNvbS9uZXdzL2Vjb25vbXkvYXJ0aWNsZS04NDQ4NTXSAQA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 02:10:00 GMT</td>
                <td class="s0">&quot;4년 주기설 고려하면 내년 중반 비트코인 가격 급등할 것&quot; [코인스캐너] 부터 Hankyung Investing.com</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R58" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">59</div>
                </th>
                <td class="s0">해외 가상화폐거래소 바이비트 한국 온다, 비트코인 2700만 원대 공방 - 비즈니스포스트</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiQWh0dHBzOi8vd3d3LmJ1c2luZXNzcG9zdC5jby5rci9CUD9jb21tYW5kPWFydGljbGVfdmlldyZudW09Mjk2MTU30gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiQWh0dHBzOi8vd3d3LmJ1c2luZXNzcG9zdC5jby5rci9CUD9jb21tYW5kPWFydGljbGVfdmlldyZudW09Mjk2MTU30gEA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 07:48:58 GMT</td>
                <td class="s0">해외 가상화폐거래소 바이비트 한국 온다, 비트코인 2700만 원대 공방 비즈니스포스트</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R59" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">60</div>
                </th>
                <td class="s0">100배 폭등으로 신고식…&#39;앱토스&#39;, 주류 코인으로 자리잡을까 - 이코노미스트</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiS2h0dHBzOi8vZWNvbm9taXN0LmNvLmtyLzIwMjIvMTAvMjQvZmluYW5jZS9GaW5hbmNpYWwvMjAyMjEwMjQxNjU5MzA3NDYuaHRtbNIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiS2h0dHBzOi8vZWNvbm9taXN0LmNvLmtyLzIwMjIvMTAvMjQvZmluYW5jZS9GaW5hbmNpYWwvMjAyMjEwMjQxNjU5MzA3NDYuaHRtbNIBAA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 07:59:25 GMT</td>
                <td class="s0">100배 폭등으로 신고식…&#39;앱토스&#39;, 주류 코인으로 자리잡을까 이코노미스트</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R60" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">61</div>
                </th>
                <td class="s0">비트코인 2700만 원대 유지, 가상화폐 관리사 비트킵 해킹피해 보상 준비 - 비즈니스포스트</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiQWh0dHBzOi8vd3d3LmJ1c2luZXNzcG9zdC5jby5rci9CUD9jb21tYW5kPWFydGljbGVfdmlldyZudW09Mjk2MDg00gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiQWh0dHBzOi8vd3d3LmJ1c2luZXNzcG9zdC5jby5rci9CUD9jb21tYW5kPWFydGljbGVfdmlldyZudW09Mjk2MDg00gEA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 00:07:19 GMT</td>
                <td class="s0">비트코인 2700만 원대 유지, 가상화폐 관리사 비트킵 해킹피해 보상 준비 비즈니스포스트</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R61" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">62</div>
                </th>
                <td class="s0">가상화폐 비트코인 176000원 하락한 27805000원에 거래 - 한국경제TV</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiRGh0dHBzOi8vd3d3Lndvd3R2LmNvLmtyL05ld3NDZW50ZXIvTmV3cy9SZWFkP2FydGljbGVJZD1BMjAyMjEwMjQwMTk00gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiRGh0dHBzOi8vd3d3Lndvd3R2LmNvLmtyL05ld3NDZW50ZXIvTmV3cy9SZWFkP2FydGljbGVJZD1BMjAyMjEwMjQwMTk00gEA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 05:31:00 GMT</td>
                <td class="s0">가상화폐 비트코인 176000원 하락한 27805000원에 거래 한국경제TV</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R62" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">63</div>
                </th>
                <td class="s0">중국 변동성에 나스닥 선물 하락 반전..ECB 이벤트 임박.. 금리,환율,유가 주시..비트코인 하방경직 - 매일안전신문</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiLWh0dHBzOi8vaWRzbi5jby5rci9uZXdzL3ZpZXcvMTA2NTYwMDA3ODg0NTA3OdIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiLWh0dHBzOi8vaWRzbi5jby5rci9uZXdzL3ZpZXcvMTA2NTYwMDA3ODg0NTA3OdIBAA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 08:32:43 GMT</td>
                <td class="s0">중국 변동성에 나스닥 선물 하락 반전..ECB 이벤트 임박.. 금리,환율,유가 주시..비트코인 하방경직 매일안전신문</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R63" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">64</div>
                </th>
                <td class="s0">[10월 3주차] 가상화폐 시장 정리 - 경향게임스</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiPGh0dHBzOi8vd3d3LmtoZ2FtZXMuY28ua3IvbmV3cy9hcnRpY2xlVmlldy5odG1sP2lkeG5vPTIwNTA5NdIBP2h0dHBzOi8vd3d3LmtoZ2FtZXMuY28ua3IvbmV3cy9hcnRpY2xlVmlld0FtcC5odG1sP2lkeG5vPTIwNTA5NQ?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiPGh0dHBzOi8vd3d3LmtoZ2FtZXMuY28ua3IvbmV3cy9hcnRpY2xlVmlldy5odG1sP2lkeG5vPTIwNTA5NdIBP2h0dHBzOi8vd3d3LmtoZ2FtZXMuY28ua3IvbmV3cy9hcnRpY2xlVmlld0FtcC5odG1sP2lkeG5vPTIwNTA5NQ?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 02:20:58 GMT</td>
                <td class="s0">[10월 3주차] 가상화폐 시장 정리 경향게임스</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R64" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">65</div>
                </th>
                <td class="s0">피델리티, “비트코인은 투자 포트폴리오 보험 수단으로 간주될 수 있어” - 경향게임스</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiPGh0dHBzOi8vd3d3LmtoZ2FtZXMuY28ua3IvbmV3cy9hcnRpY2xlVmlldy5odG1sP2lkeG5vPTIwNTEyN9IBP2h0dHBzOi8vd3d3LmtoZ2FtZXMuY28ua3IvbmV3cy9hcnRpY2xlVmlld0FtcC5odG1sP2lkeG5vPTIwNTEyNw?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiPGh0dHBzOi8vd3d3LmtoZ2FtZXMuY28ua3IvbmV3cy9hcnRpY2xlVmlldy5odG1sP2lkeG5vPTIwNTEyN9IBP2h0dHBzOi8vd3d3LmtoZ2FtZXMuY28ua3IvbmV3cy9hcnRpY2xlVmlld0FtcC5odG1sP2lkeG5vPTIwNTEyNw?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 01:26:27 GMT</td>
                <td class="s0">피델리티, “비트코인은 투자 포트폴리오 보험 수단으로 간주될 수 있어” 경향게임스</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R65" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">66</div>
                </th>
                <td class="s0">[기획] 日 자금 결제법 5부, 日서 죽 쑤는 클레이튼(KLAY) - 내외경제TV</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiOmh0dHBzOi8vd3d3Lm5ibnR2LmNvLmtyL25ld3MvYXJ0aWNsZVZpZXcuaHRtbD9pZHhubz05OTY0NDDSAQA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiOmh0dHBzOi8vd3d3Lm5ibnR2LmNvLmtyL25ld3MvYXJ0aWNsZVZpZXcuaHRtbD9pZHhubz05OTY0NDDSAQA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 09:06:44 GMT</td>
                <td class="s0">[기획] 日 자금 결제법 5부, 日서 죽 쑤는 클레이튼(KLAY) 내외경제TV</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R66" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">67</div>
                </th>
                <td class="s0">비트코인 2만달러 돌파…이더리움, 머지 이후 최고점 - 한국경제</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiNmh0dHBzOi8vd3d3Lmhhbmt5dW5nLmNvbS9maW5hbmNlL2FydGljbGUvMjAyMjEwMjYzNjM1QtIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiNmh0dHBzOi8vd3d3Lmhhbmt5dW5nLmNvbS9maW5hbmNlL2FydGljbGUvMjAyMjEwMjYzNjM1QtIBAA?oc=5</a>
                </td>
                <td class="s0">Tue, 25 Oct 2022 22:48:00 GMT</td>
                <td class="s0"><br> <br> 1. 비트코인 2만달러 돌파…이더리움, 머지 이후 최고점 한국경제<br> 2. 비트코인 2만 달러 회복…이더리움, &#39;머지&#39; 이후
                    최고치 매일경제<br> 3. 비트코인, 2만달러 돌파…이더리움도 8% ↑ ZD넷 코리아<br> 4. 비트코인 2만달러 돌파...이더리움은 머지 이후 최고가 Coindesk
                    Korea<br> 5. 비트코인 시세 2만 달러 회복…이더리움, 업그레이드 후 신고가 문화일보<br> 6. *Google 뉴스에서 전체 콘텐츠 보기*<br><br></td>
            </tr>
            <tr style="height: 20px">
                <th id="0R67" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">68</div>
                </th>
                <td class="s0">[크립토 브리핑] 끝없이 추락하던 카카오 &#39;클레이&#39; 30% 급등...비트·이더는 횡보 - 테크M</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiN2h0dHBzOi8vd3d3LnRlY2htLmtyL25ld3MvYXJ0aWNsZVZpZXcuaHRtbD9pZHhubz0xMDI3NTDSAQA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiN2h0dHBzOi8vd3d3LnRlY2htLmtyL25ld3MvYXJ0aWNsZVZpZXcuaHRtbD9pZHhubz0xMDI3NTDSAQA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 01:41:57 GMT</td>
                <td class="s0">[크립토 브리핑] 끝없이 추락하던 카카오 &#39;클레이&#39; 30% 급등...비트·이더는 횡보 테크M</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R68" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">69</div>
                </th>
                <td class="s0">메타플렉스, 솔라나 기반의 NFT 표준 방향성 제시 - 매일경제</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiN2h0dHBzOi8vd3d3Lm1rLmNvLmtyL25ld3MvYnVzaW5lc3Mvdmlldy8yMDIyLzEwLzk0MTIyMC_SAQA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiN2h0dHBzOi8vd3d3Lm1rLmNvLmtyL25ld3MvYnVzaW5lc3Mvdmlldy8yMDIyLzEwLzk0MTIyMC_SAQA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 05:18:54 GMT</td>
                <td class="s0">메타플렉스, 솔라나 기반의 NFT 표준 방향성 제시 매일경제</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R69" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">70</div>
                </th>
                <td class="s0">美 CFTC 위원장 &quot;비트코인·이더리움은 디지털 토큰...의회에 규제 권한 요청했다&quot; - 토큰포스트</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiJ2h0dHBzOi8vd3d3LnRva2VucG9zdC5rci9hcnRpY2xlLTEwNzIyNNIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiJ2h0dHBzOi8vd3d3LnRva2VucG9zdC5rci9hcnRpY2xlLTEwNzIyNNIBAA?oc=5</a>
                </td>
                <td class="s0">Fri, 30 Sep 2022 07:00:00 GMT</td>
                <td class="s0">美 CFTC 위원장 &quot;비트코인·이더리움은 디지털 토큰...의회에 규제 권한 요청했다&quot; 토큰포스트</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R70" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">71</div>
                </th>
                <td class="s0">코인게코, 3분기 가상화폐 분석 보고서 발표 - 경향게임스</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiO2h0dHA6Ly93d3cua2hnYW1lcy5jby5rci9uZXdzL2FydGljbGVWaWV3Lmh0bWw_aWR4bm89MjA1MTQ00gE_aHR0cHM6Ly93d3cua2hnYW1lcy5jby5rci9uZXdzL2FydGljbGVWaWV3QW1wLmh0bWw_aWR4bm89MjA1MTQ0?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiO2h0dHA6Ly93d3cua2hnYW1lcy5jby5rci9uZXdzL2FydGljbGVWaWV3Lmh0bWw_aWR4bm89MjA1MTQ00gE_aHR0cHM6Ly93d3cua2hnYW1lcy5jby5rci9uZXdzL2FydGljbGVWaWV3QW1wLmh0bWw_aWR4bm89MjA1MTQ0?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 04:17:20 GMT</td>
                <td class="s0">코인게코, 3분기 가상화폐 분석 보고서 발표 경향게임스</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R71" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">72</div>
                </th>
                <td class="s0">비트코인 2700만 원대 유지, 가상화폐 관리사 비트킵 해킹피해 보상 준비 - 비즈니스포스트</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiP2h0dHA6Ly93d3cuYnVzaW5lc3Nwb3N0LmNvLmtyL0JQP2NvbW1hbmQ9bW9iaWxlX3ZpZXcmbnVtPTI5NjA4NNIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiP2h0dHA6Ly93d3cuYnVzaW5lc3Nwb3N0LmNvLmtyL0JQP2NvbW1hbmQ9bW9iaWxlX3ZpZXcmbnVtPTI5NjA4NNIBAA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 00:07:19 GMT</td>
                <td class="s0">비트코인 2700만 원대 유지, 가상화폐 관리사 비트킵 해킹피해 보상 준비 비즈니스포스트</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R72" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">73</div>
                </th>
                <td class="s0">앱토스&#39; 가상화폐 돌풍…업비트, 하루 수수료 수입 2억원 &#39;쏠쏠&#39; - MSN</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMijAJodHRwczovL3d3dy5tc24uY29tL2tvLWtyL21vbmV5L21hcmtldHMvJUVDJTk1JUIxJUVEJTg2JUEwJUVDJThBJUE0LSVFQSVCMCU4MCVFQyU4MyU4MSVFRCU5OSU5NCVFRCU4RiU5MC0lRUIlOEYlOEMlRUQlOTIlOEQtJUVDJTk3JTg1JUVCJUI5JTg0JUVEJThBJUI4LSVFRCU5NSU5OCVFQiVBMyVBOC0lRUMlODglOTglRUMlODglOTglRUIlQTMlOEMtJUVDJTg4JTk4JUVDJTlFJTg1LTIlRUMlOTYlQjUlRUMlOUIlOTAtJUVDJThGJUEwJUVDJThGJUEwL2FyLUFBMTNpaDBJ0gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMijAJodHRwczovL3d3dy5tc24uY29tL2tvLWtyL21vbmV5L21hcmtldHMvJUVDJTk1JUIxJUVEJTg2JUEwJUVDJThBJUE0LSVFQSVCMCU4MCVFQyU4MyU4MSVFRCU5OSU5NCVFRCU4RiU5MC0lRUIlOEYlOEMlRUQlOTIlOEQtJUVDJTk3JTg1JUVCJUI5JTg0JUVEJThBJUI4LSVFRCU5NSU5OCVFQiVBMyVBOC0lRUMlODglOTglRUMlODglOTglRUIlQTMlOEMtJUVDJTg4JTk4JUVDJTlFJTg1LTIlRUMlOTYlQjUlRUMlOUIlOTAtJUVDJThGJUEwJUVDJThGJUEwL2FyLUFBMTNpaDBJ0gEA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 02:10:46 GMT</td>
                <td class="s0">앱토스&#39; 가상화폐 돌풍…업비트, 하루 수수료 수입 2억원 &#39;쏠쏠&#39; MSN</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R73" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">74</div>
                </th>
                <td class="s0">오전 암호화폐 시세, 클레이튼↑…다른 코인 혼조세 - 에너지경제</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiNWh0dHBzOi8vd3d3LmVrbi5rci93ZWIvdmlldy5waHA_a2V5PTIwMjIxMDI0MDEwMDAzNTM40gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiNWh0dHBzOi8vd3d3LmVrbi5rci93ZWIvdmlldy5waHA_a2V5PTIwMjIxMDI0MDEwMDAzNTM40gEA?oc=5</a>
                </td>
                <td class="s0">Mon, 24 Oct 2022 02:30:35 GMT</td>
                <td class="s0">오전 암호화폐 시세, 클레이튼↑…다른 코인 혼조세 에너지경제</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R74" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">75</div>
                </th>
                <td class="s0">이더리움의 아버지&#39; 부테린 “2~3년 내 코인결제 대중화된다” - 이코노미스트</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiS2h0dHBzOi8vZWNvbm9taXN0LmNvLmtyLzIwMjIvMDgvMDgvZmluYW5jZS9GaW5hbmNpYWwvMjAyMjA4MDgxNDUxMTY4MDguaHRtbNIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiS2h0dHBzOi8vZWNvbm9taXN0LmNvLmtyLzIwMjIvMDgvMDgvZmluYW5jZS9GaW5hbmNpYWwvMjAyMjA4MDgxNDUxMTY4MDguaHRtbNIBAA?oc=5</a>
                </td>
                <td class="s0">Mon, 08 Aug 2022 07:00:00 GMT</td>
                <td class="s0">이더리움의 아버지&#39; 부테린 “2~3년 내 코인결제 대중화된다” 이코노미스트</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R75" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">76</div>
                </th>
                <td class="s0">이더리움 2.0 시대의 개막 &lt; 세상돌아보기 &lt; 칼럼 &lt; 기사본문 - 데일리임팩트</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiP2h0dHBzOi8vd3d3LmRhaWx5aW1wYWN0LmNvLmtyL25ld3MvYXJ0aWNsZVZpZXcuaHRtbD9pZHhubz04NzI2NtIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiP2h0dHBzOi8vd3d3LmRhaWx5aW1wYWN0LmNvLmtyL25ld3MvYXJ0aWNsZVZpZXcuaHRtbD9pZHhubz04NzI2NtIBAA?oc=5</a>
                </td>
                <td class="s0">Fri, 21 Oct 2022 07:00:00 GMT</td>
                <td class="s0">이더리움 2.0 시대의 개막 &lt; 세상돌아보기 &lt; 칼럼 &lt; 기사본문 데일리임팩트</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R76" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">77</div>
                </th>
                <td class="s0">[토큰포스트 칼럼] 이더리움 머지 – 환경에 미치는 영향은 무엇인가? - 토큰포스트</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiJ2h0dHBzOi8vd3d3LnRva2VucG9zdC5rci9hcnRpY2xlLTEwNjQ3OdIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiJ2h0dHBzOi8vd3d3LnRva2VucG9zdC5rci9hcnRpY2xlLTEwNjQ3OdIBAA?oc=5</a>
                </td>
                <td class="s0">Sat, 24 Sep 2022 07:00:00 GMT</td>
                <td class="s0">[토큰포스트 칼럼] 이더리움 머지 – 환경에 미치는 영향은 무엇인가? 토큰포스트</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R77" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">78</div>
                </th>
                <td class="s0">비트코인 거래량 점유율 하락 &#39;불안한 징후&#39; - CoinDesk Korea 신뢰 그 이상의 가치 - Coindesk Korea</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiP2h0dHBzOi8vd3d3LmNvaW5kZXNra29yZWEuY29tL25ld3MvYXJ0aWNsZVZpZXcuaHRtbD9pZHhubz04MTg1MNIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiP2h0dHBzOi8vd3d3LmNvaW5kZXNra29yZWEuY29tL25ld3MvYXJ0aWNsZVZpZXcuaHRtbD9pZHhubz04MTg1MNIBAA?oc=5</a>
                </td>
                <td class="s0">Sun, 23 Oct 2022 23:55:02 GMT</td>
                <td class="s0">비트코인 거래량 점유율 하락 &#39;불안한 징후&#39; - CoinDesk Korea 신뢰 그 이상의 가치 Coindesk Korea</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R78" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">79</div>
                </th>
                <td class="s0">디파이&#39; 볕드나…주요 토큰 상승세 - ZD넷 코리아</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiK2h0dHBzOi8vemRuZXQuY28ua3Ivdmlldy8_bm89MjAyMjEwMTkxMTI5MzfSAQA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiK2h0dHBzOi8vemRuZXQuY28ua3Ivdmlldy8_bm89MjAyMjEwMTkxMTI5MzfSAQA?oc=5</a>
                </td>
                <td class="s0">Wed, 19 Oct 2022 05:11:38 GMT</td>
                <td class="s0">디파이&#39; 볕드나…주요 토큰 상승세 ZD넷 코리아</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R79" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">80</div>
                </th>
                <td class="s0">자이언트스텝이 확실시되고 있어..ECB와 FOMC 주목..실체적인 확증 전까지 보수적 대응 필요할 것 - 매일안전신문</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiLWh0dHBzOi8vaWRzbi5jby5rci9uZXdzL3ZpZXcvMTA2NTYxMTA2ODAyMTQ0M9IBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiLWh0dHBzOi8vaWRzbi5jby5rci9uZXdzL3ZpZXcvMTA2NTYxMTA2ODAyMTQ0M9IBAA?oc=5</a>
                </td>
                <td class="s0">Sun, 23 Oct 2022 11:21:00 GMT</td>
                <td class="s0">자이언트스텝이 확실시되고 있어..ECB와 FOMC 주목..실체적인 확증 전까지 보수적 대응 필요할 것 매일안전신문</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R80" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">81</div>
                </th>
                <td class="s0">가상화폐 앱토스 상승세 전일대비 1326 - 한국경제TV</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiRGh0dHBzOi8vd3d3Lndvd3R2LmNvLmtyL05ld3NDZW50ZXIvTmV3cy9SZWFkP2FydGljbGVJZD1BMjAyMjEwMjMwMDU10gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiRGh0dHBzOi8vd3d3Lndvd3R2LmNvLmtyL05ld3NDZW50ZXIvTmV3cy9SZWFkP2FydGljbGVJZD1BMjAyMjEwMjMwMDU10gEA?oc=5</a>
                </td>
                <td class="s0">Sun, 23 Oct 2022 09:31:00 GMT</td>
                <td class="s0">가상화폐 앱토스 상승세 전일대비 1326 한국경제TV</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R81" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">82</div>
                </th>
                <td class="s0">앱토스-비트코인골드-가스가 거래 주도...비트코인-이더리움-이더리움클래식 회복세 - 소셜밸류</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiNWh0dHBzOi8vd3d3LnNvY2lhbHZhbHVlLmtyL25ld3Mvdmlldy8xMDY1NTQ5MDg4NTYxNTQ40gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiNWh0dHBzOi8vd3d3LnNvY2lhbHZhbHVlLmtyL25ld3Mvdmlldy8xMDY1NTQ5MDg4NTYxNTQ40gEA?oc=5</a>
                </td>
                <td class="s0">Sun, 23 Oct 2022 17:57:41 GMT</td>
                <td class="s0">앱토스-비트코인골드-가스가 거래 주도...비트코인-이더리움-이더리움클래식 회복세 소셜밸류</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R82" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">83</div>
                </th>
                <td class="s0">언젠가 모두 지나갈 것..내달 초 이후를 기대하며 ECB와 FOMC까지 차분히 지켜볼 필요 분명해.. - 매일안전신문</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiLWh0dHBzOi8vaWRzbi5jby5rci9uZXdzL3ZpZXcvMTA2NTYyMDA5MTg2MzAyNNIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiLWh0dHBzOi8vaWRzbi5jby5rci9uZXdzL3ZpZXcvMTA2NTYyMDA5MTg2MzAyNNIBAA?oc=5</a>
                </td>
                <td class="s0">Sun, 23 Oct 2022 14:04:00 GMT</td>
                <td class="s0">언젠가 모두 지나갈 것..내달 초 이후를 기대하며 ECB와 FOMC까지 차분히 지켜볼 필요 분명해.. 매일안전신문</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R83" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">84</div>
                </th>
                <td class="s0">&quot;비트코인·이더리움 침체 불구 투자자 관심도는 되레 증가…머잖아 상승장 온다&quot; - 빅데이터뉴스</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiR2h0dHA6Ly93d3cudGhlYmlnZGF0YS5jby5rci92aWV3LnBocD91ZD0yMDIyMTAxNDA3MzAxOTIyNzVkMGE4ODMzYWFkXzIz0gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiR2h0dHA6Ly93d3cudGhlYmlnZGF0YS5jby5rci92aWV3LnBocD91ZD0yMDIyMTAxNDA3MzAxOTIyNzVkMGE4ODMzYWFkXzIz0gEA?oc=5</a>
                </td>
                <td class="s0">Fri, 14 Oct 2022 07:00:00 GMT</td>
                <td class="s0">&quot;비트코인·이더리움 침체 불구 투자자 관심도는 되레 증가…머잖아 상승장 온다&quot; 빅데이터뉴스</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R84" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">85</div>
                </th>
                <td class="s0">10월 23일 코인니스 일요일 주요 뉴스 브리핑 - 코인리더스</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiHGh0dHA6Ly9jb2lucmVhZGVycy5jb20vNDkzNTjSAQA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiHGh0dHA6Ly9jb2lucmVhZGVycy5jb20vNDkzNTjSAQA?oc=5</a>
                </td>
                <td class="s0">Sun, 23 Oct 2022 14:51:19 GMT</td>
                <td class="s0">10월 23일 코인니스 일요일 주요 뉴스 브리핑 코인리더스</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R85" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">86</div>
                </th>
                <td class="s0">코스피 2200포인트 지지 테스트 예상..LG전자,오리온,세아제강,삼성전자 추천..유럽,미국 금리 주목 - 매일안전신문</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiLWh0dHBzOi8vaWRzbi5jby5rci9uZXdzL3ZpZXcvMTA2NTU5Mjc3NTM1NTU5MNIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiLWh0dHBzOi8vaWRzbi5jby5rci9uZXdzL3ZpZXcvMTA2NTU5Mjc3NTM1NTU5MNIBAA?oc=5</a>
                </td>
                <td class="s0">Sun, 23 Oct 2022 07:55:39 GMT</td>
                <td class="s0">코스피 2200포인트 지지 테스트 예상..LG전자,오리온,세아제강,삼성전자 추천..유럽,미국 금리 주목 매일안전신문</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R86" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">87</div>
                </th>
                <td class="s0">&quot;불장인 줄 알았는데&quot;…비트코인·이더리움 10% 안팎 &#39;와르르&#39; - 한국경제</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiNmh0dHBzOi8vd3d3Lmhhbmt5dW5nLmNvbS9lY29ub215L2FydGljbGUvMjAyMjA4MjA1ODE1N9IBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiNmh0dHBzOi8vd3d3Lmhhbmt5dW5nLmNvbS9lY29ub215L2FydGljbGUvMjAyMjA4MjA1ODE1N9IBAA?oc=5</a>
                </td>
                <td class="s0">Sat, 20 Aug 2022 07:00:00 GMT</td>
                <td class="s0">&quot;불장인 줄 알았는데&quot;…비트코인·이더리움 10% 안팎 &#39;와르르&#39; 한국경제</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R87" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">88</div>
                </th>
                <td class="s0">이더리움 머지 효과 언제쯤?...˝ETH 디플레이션, 기관에게 매력적˝ - 코인리더스</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiIGh0dHA6Ly93d3cuY29pbnJlYWRlcnMuY29tLzQ3Nzcx0gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiIGh0dHA6Ly93d3cuY29pbnJlYWRlcnMuY29tLzQ3Nzcx0gEA?oc=5</a>
                </td>
                <td class="s0">Thu, 06 Oct 2022 07:00:00 GMT</td>
                <td class="s0">이더리움 머지 효과 언제쯤?...˝ETH 디플레이션, 기관에게 매력적˝ 코인리더스</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R88" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">89</div>
                </th>
                <td class="s0">가상화폐 가스 상승세 전일대비 2003 - 한국경제TV</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiRGh0dHBzOi8vd3d3Lndvd3R2LmNvLmtyL05ld3NDZW50ZXIvTmV3cy9SZWFkP2FydGljbGVJZD1BMjAyMjEwMjQwMDAx0gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiRGh0dHBzOi8vd3d3Lndvd3R2LmNvLmtyL05ld3NDZW50ZXIvTmV3cy9SZWFkP2FydGljbGVJZD1BMjAyMjEwMjQwMDAx0gEA?oc=5</a>
                </td>
                <td class="s0">Sun, 23 Oct 2022 15:31:00 GMT</td>
                <td class="s0">가상화폐 가스 상승세 전일대비 2003 한국경제TV</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R89" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">90</div>
                </th>
                <td class="s0">언젠가 모두 지나갈 것..내달 초 이후를 기대하며 ECB와 FOMC까지 차분히 지켜볼 필요 분명해.. - 매일안전신문</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiLWh0dHBzOi8vaWRzbi5jby5rci9uZXdzL3ZpZXcvMTA2NTYyMDA5MTg2MzAyNNIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiLWh0dHBzOi8vaWRzbi5jby5rci9uZXdzL3ZpZXcvMTA2NTYyMDA5MTg2MzAyNNIBAA?oc=5</a>
                </td>
                <td class="s0">Sun, 23 Oct 2022 14:04:00 GMT</td>
                <td class="s0">언젠가 모두 지나갈 것..내달 초 이후를 기대하며 ECB와 FOMC까지 차분히 지켜볼 필요 분명해.. 매일안전신문</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R90" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">91</div>
                </th>
                <td class="s0">기관투자가 사로잡은 이더리움…62% &quot;투자 관심&quot; - 한국경제</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiNmh0dHBzOi8vd3d3Lmhhbmt5dW5nLmNvbS9lY29ub215L2FydGljbGUvMjAyMjEwMjM3MTAzMdIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiNmh0dHBzOi8vd3d3Lmhhbmt5dW5nLmNvbS9lY29ub215L2FydGljbGUvMjAyMjEwMjM3MTAzMdIBAA?oc=5</a>
                </td>
                <td class="s0">Sun, 23 Oct 2022 08:30:38 GMT</td>
                <td class="s0">기관투자가 사로잡은 이더리움…62% &quot;투자 관심&quot; 한국경제</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R91" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">92</div>
                </th>
                <td class="s0">비트코인 2750만원, 이더리움 187만원...상황은? &lt; 블록체인 &lt; IT/스타트업 &lt; 기사본문 - 이코노믹리뷰</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiPGh0dHBzOi8vd3d3LmVjb25vdmlsbC5jb20vbmV3cy9hcnRpY2xlVmlldy5odG1sP2lkeG5vPTU5MzE5MtIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiPGh0dHBzOi8vd3d3LmVjb25vdmlsbC5jb20vbmV3cy9hcnRpY2xlVmlldy5odG1sP2lkeG5vPTU5MzE5MtIBAA?oc=5</a>
                </td>
                <td class="s0">Sun, 23 Oct 2022 11:39:56 GMT</td>
                <td class="s0">비트코인 2750만원, 이더리움 187만원...상황은? &lt; 블록체인 &lt; IT/스타트업 &lt; 기사본문 이코노믹리뷰</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R92" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">93</div>
                </th>
                <td class="s0">이더리움 지갑 메타마스크, 사다인과 통합...은행 송금 통한 실시간 토큰 구입 지원 - 디지털투데이</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiQWh0dHBzOi8vd3d3LmRpZ2l0YWx0b2RheS5jby5rci9uZXdzL2FydGljbGVWaWV3Lmh0bWw_aWR4bm89NDYzMDIz0gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiQWh0dHBzOi8vd3d3LmRpZ2l0YWx0b2RheS5jby5rci9uZXdzL2FydGljbGVWaWV3Lmh0bWw_aWR4bm89NDYzMDIz0gEA?oc=5</a>
                </td>
                <td class="s0">Fri, 14 Oct 2022 23:17:02 GMT</td>
                <td class="s0">이더리움 지갑 메타마스크, 사다인과 통합...은행 송금 통한 실시간 토큰 구입 지원 디지털투데이</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R93" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">94</div>
                </th>
                <td class="s0">가상화폐 비트코인 01 하락 앱토스 1116 상승 - 한국경제TV</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiRGh0dHBzOi8vd3d3Lndvd3R2LmNvLmtyL05ld3NDZW50ZXIvTmV3cy9SZWFkP2FydGljbGVJZD1BMjAyMjEwMjMwMDQ50gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiRGh0dHBzOi8vd3d3Lndvd3R2LmNvLmtyL05ld3NDZW50ZXIvTmV3cy9SZWFkP2FydGljbGVJZD1BMjAyMjEwMjMwMDQ50gEA?oc=5</a>
                </td>
                <td class="s0">Sun, 23 Oct 2022 08:31:00 GMT</td>
                <td class="s0">가상화폐 비트코인 01 하락 앱토스 1116 상승 한국경제TV</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R94" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">95</div>
                </th>
                <td class="s0">비트코인 2700만 원대 지켜, 박스권은 &#39;튀어 오르기 전 용수철&#39; 시각도 - 비즈니스포스트</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiQWh0dHBzOi8vd3d3LmJ1c2luZXNzcG9zdC5jby5rci9CUD9jb21tYW5kPWFydGljbGVfdmlldyZudW09Mjk2MDY40gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiQWh0dHBzOi8vd3d3LmJ1c2luZXNzcG9zdC5jby5rci9CUD9jb21tYW5kPWFydGljbGVfdmlldyZudW09Mjk2MDY40gEA?oc=5</a>
                </td>
                <td class="s0">Sun, 23 Oct 2022 08:44:05 GMT</td>
                <td class="s0">비트코인 2700만 원대 지켜, 박스권은 &#39;튀어 오르기 전 용수철&#39; 시각도 비즈니스포스트</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R95" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">96</div>
                </th>
                <td class="s0">[코인리더스] &quot;비트코인·이더리움은 디지털상품 토큰...美SEC 아닌 CFTC 규제대상 되면 BTC 2배 상승 가능&quot; - 코인리더스</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiH2h0dHBzOi8vbS5jb2lucmVhZGVycy5jb20vNDcxODfSAQA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiH2h0dHBzOi8vbS5jb2lucmVhZGVycy5jb20vNDcxODfSAQA?oc=5</a>
                </td>
                <td class="s0">Fri, 30 Sep 2022 07:00:00 GMT</td>
                <td class="s0">[코인리더스] &quot;비트코인·이더리움은 디지털상품 토큰...美SEC 아닌 CFTC 규제대상 되면 BTC 2배 상승 가능&quot; 코인리더스</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R96" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">97</div>
                </th>
                <td class="s0">암호화폐 이틀째 반등…이더리움 가격 7월 대비 41% 올라 [코인스캐너] - 한국경제</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiNmh0dHBzOi8vd3d3Lmhhbmt5dW5nLmNvbS9lY29ub215L2FydGljbGUvMjAyMjA4MTI4Njk5adIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiNmh0dHBzOi8vd3d3Lmhhbmt5dW5nLmNvbS9lY29ub215L2FydGljbGUvMjAyMjA4MTI4Njk5adIBAA?oc=5</a>
                </td>
                <td class="s0">Fri, 12 Aug 2022 07:00:00 GMT</td>
                <td class="s0">암호화폐 이틀째 반등…이더리움 가격 7월 대비 41% 올라 [코인스캐너] 한국경제</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R97" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">98</div>
                </th>
                <td class="s0">이더리움 클래식 확 뛰었다 &lt; 블록체인 &lt; IT/스타트업 &lt; 기사본문 - 이코노믹리뷰</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiPGh0dHBzOi8vd3d3LmVjb25vdmlsbC5jb20vbmV3cy9hcnRpY2xlVmlldy5odG1sP2lkeG5vPTU5MzE4NNIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiPGh0dHBzOi8vd3d3LmVjb25vdmlsbC5jb20vbmV3cy9hcnRpY2xlVmlldy5odG1sP2lkeG5vPTU5MzE4NNIBAA?oc=5</a>
                </td>
                <td class="s0">Sun, 23 Oct 2022 03:35:41 GMT</td>
                <td class="s0">이더리움 클래식 확 뛰었다 &lt; 블록체인 &lt; IT/스타트업 &lt; 기사본문 이코노믹리뷰</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R98" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">99</div>
                </th>
                <td class="s0">피델리티, 이더리움 거래·수탁 서비스 시작…오는 28일부터 - 토큰포스트</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiJ2h0dHBzOi8vd3d3LnRva2VucG9zdC5rci9hcnRpY2xlLTEwOTQ4MtIBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiJ2h0dHBzOi8vd3d3LnRva2VucG9zdC5rci9hcnRpY2xlLTEwOTQ4MtIBAA?oc=5</a>
                </td>
                <td class="s0">Sun, 23 Oct 2022 04:00:00 GMT</td>
                <td class="s0">피델리티, 이더리움 거래·수탁 서비스 시작…오는 28일부터 토큰포스트</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R99" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">100</div>
                </th>
                <td class="s0">국내 암호화폐 투자자, 다음주 매도 희망 1위는 리플..매수는 비트코인 - 코인리더스</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiIGh0dHA6Ly93d3cuY29pbnJlYWRlcnMuY29tLzQ5MzU20gEA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiIGh0dHA6Ly93d3cuY29pbnJlYWRlcnMuY29tLzQ5MzU20gEA?oc=5</a>
                </td>
                <td class="s0">Sun, 23 Oct 2022 07:44:00 GMT</td>
                <td class="s0">국내 암호화폐 투자자, 다음주 매도 희망 1위는 리플..매수는 비트코인 코인리더스</td>
            </tr>
            <tr style="height: 20px">
                <th id="0R100" style="height: 20px;" class="row-headers-background">
                    <div class="row-header-wrapper" style="line-height: 20px">101</div>
                </th>
                <td class="s0">비트코인 2780만원, 이더리움 189만원...타이밍은? &lt; 블록체인 &lt; IT/스타트업 &lt; 기사본문 - 이코노믹리뷰</td>
                <td class="s1"><a target="_blank"
                        href="https://news.google.com/__i/rss/rd/articles/CBMiPGh0dHBzOi8vd3d3LmVjb25vdmlsbC5jb20vbmV3cy9hcnRpY2xlVmlldy5odG1sP2lkeG5vPTU5MTkwM9IBAA?oc=5">https://news.google.com/__i/rss/rd/articles/CBMiPGh0dHBzOi8vd3d3LmVjb25vdmlsbC5jb20vbmV3cy9hcnRpY2xlVmlldy5odG1sP2lkeG5vPTU5MTkwM9IBAA?oc=5</a>
                </td>
                <td class="s0">Sat, 08 Oct 2022 07:00:00 GMT</td>
                <td class="s0">비트코인 2780만원, 이더리움 189만원...타이밍은? &lt; 블록체인 &lt; IT/스타트업 &lt; 기사본문 이코노믹리뷰</td>
            </tr>
        </tbody>
    </table>
</div>