<div id="main">

			<!-- Introduction -->
			<section id="intro" class="main">
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>소개</h2>
						</header>
						<p>4차 산업혁명과 마주한 시대에 온라인 투자 즉, 자산 시장이 떠오르고 있습니다.
							하지만 투자 종목은 미래를 알 수 없습니다. 처음 접하는 사람들에게는 거리감이 있고,
							공부하지 않고 투자할 때에는 손해를 보는 경우가 대부분이라고 합니다.
							따라서 차트를 어떻게 보고 매수와 매도를 어느 시점에 해야 하는 지
							"차트 기반 암호화폐 자동 매매 시스템"을 통해 기초를 익히며,
							수익률 개선 목적으로 개발합니다.</p>
						<ul class="actions">
							<li><a href="Introduce.html" class="button">더 보기</a></li>
						</ul>
					</div>
					<span class="image"><img src="images/view.png" alt="" /></span>
				</div>
			</section>

			<!-- First Section -->
			<section id="first" class="main special">
				<header class="major">
					<h2>차트 및 분석 화면</h2>
				</header>
				<ul class="features">
					<li>
						<span class="icon solid major style1 fa-code"></span>
						<h3>기본 차트 화면</h3>
						<p>기본 차트와 트레이딩 뷰 확인 가능</p>
					</li>
					<li>
						<span class="icon major style3 fa-copy"></span>
						<h3>차트 분석 화면</h3>
						<p>초보자에게는 차트 분석이 가장 어려움. 알고리즘을 이용하여 추천</p>
					</li>
				</ul>
				<p><span class="chart"><img src="images/bitcoin chart.jpg" style="width: 60vw; min-width: 140px;"
							alt="" /></span></p>
				<footer class="major">
					<ul class="actions special">
						<li><a href="Rsi.html" class="button">더 보기</a></li>
					</ul>
				</footer>
			</section>

			<!-- Second Section -->
			<section id="second" class="main special">
				<header class="major">
					<h2>매수 및 매도 화면</h2>
					<p><span class="chart"><img src="images/trade.jpg" style="width: 60vw; min-width: 140px;"
								alt="" /></span></p>
					<p>주문에 따라 가격을 확인하여 지정한 주문수량 및 총액으로 거래 가능</p>
				</header>
				<ul class="statistics">
					<li class="style1">
						<span class="icon solid fa-code-branch"></span>
						<strong>5,120</strong> Etiam
					</li>
					<li class="style2">
						<span class="icon fa-folder-open"></span>
						<strong>8,192</strong> Magna
					</li>
					<li class="style3">
						<span class="icon solid fa-signal"></span>
						<strong>2,048</strong> Tempus
					</li>
					<li class="style4">
						<span class="icon solid fa-laptop"></span>
						<strong>4,096</strong> Aliquam
					</li>
					<li class="style5">
						<span class="icon fa-gem"></span>
						<strong>1,024</strong> Nullam
					</li>
				</ul>
				<footer class="major">
					<ul class="actions special">
						<li><a href="Trade.html" class="button">더 보기</a></li>
					</ul>
				</footer>
			</section>

			<!-- Get Started -->
			<section id="cta" class="main special">
				<header class="major">
					<h2>자동매매 및 모의투자 화면</h2>
				</header>
				<footer class="major">
					<p><span class="auto"><img src="images/auto buy and sell.png" style="width: 60vw; min-width: 140px;"
								alt="" /></span></p>
					<ul class="actions special">
						<li><a href="AutomaticTrading.html" class="button primary">자동매매</a></li>
						<li><a href="MockInvestment.html" class="button">모의투자</a></li>
					</ul>
				</footer>
			</section>

		</div>