
		<!-- Main -->
		<div id="main">

			<!-- Content -->
			<section id="content" class="main">
				<h1><b>뉴스정보</b></h1><br />
				<li><a href="/Ethereum" target="_blank">이더리움 관련 최신 뉴스 100건 보기</a>를 클릭하세요.</li><br/>
				<h4>※ 뉴스 탭 항목은 제목, URL, 생성 일자, 요약 순으로 확인 가능합니다.</h4>
			</section>

		</div>

