<!-- Main -->
<div id="main">

	<!-- Content -->
	<section id="content" class="main">
		<form method="post">
			종목 : <input type="text" name="pay" id="pay" placeholder="종목">
			매수 지점 : <input type="text" name="name" id="name" placeholder="매수 지점">
			매도 지점 : <input type="text" name="name" id="name" placeholder="매도 지점">
			<input type="submit" value="시작" name="submit" onclick='this.form.action ="/startm"'>
			<input type="submit" value="종료" name="submit" onclick='this.form.action ="/stopm"'>
		</form>
		<h1><b>RSI 상대강도지수</b></h1><br />
		<span class="image main"><img src="img/rsi.png" alt="" /></span>
		<h2>RSI 활용 방법</h2>
		<p>- 70% 이상을 초과매수, 30% 이하를 초과매도로 보고 RSI가 70%를 넘어서면 매도 포지션을, 30% 밑으로 떨어지면 매수 포지션을 취하는 전략.</p>
		<p>- 단, 초과매수, 초과매도 상태에서도 추세가 이어지는 경우가 있으므로 이를 보완하기 위한 전략으로 RSI가 70%를 넘어선 후 70%를 깨고 내려오면 매도를, RSI가 30%
			밑으로 내려가 머물러 있다가 30% 이상으로 올라오면 매수하는 전략으로 보완 또는 50%를 기준으로 RSI가 50%를 상향 돌파시 매수, 하향 돌파시 매도하는 식의 전략.</p>
		<p>- 주가는 상승하고 있지만 RSI는 하강하는 식으로, RSI가 가격 변동과 역행하고 있는 상태에서 주가가 천정에 다다랐을 때는 추세가 꺾이기 쉽고, 주가 하락시 RSI가 상승하는
			반대의 경우는 추세가 반등하기 쉬우므로 매매시 참고.</p>
		<p>- 단, RSI는 천정과 바닥을 찾기 쉽다는 장점이 있으나 가격이 횡보하는 상황에서는 투자지표로 활용하기 어려운 단점이 있음을 유의 필요.</p>
	</section>

</div>