
		<!-- Main -->
		<div id="main">

			<!-- Content -->
			<section id="content" class="main">
				<h1><b>고객센터(Q & A)</b></h1><br />
				<b>
					<h2>자주 묻는 질문(출처 : 아래 문항들은 <a href="https://www.irs.gov/ko/individuals/international-taxpayers/frequently-asked-questions-on-virtual-currency-transactions" target="_blank">IRS 홈페이지</a>에서 도움을 받았습니다.)</h2> <br/>
					<h2>기타 질문 내용은 <a href="mailto:click.if.you.are.curious@gmail.com" target="_blank">문의하기</a>를 눌러주세요.</h2>
				</b> <br />
				<input id="check-btn1" type="checkbox" />
				<label for="check-btn1">Q1. 가상화폐란 무엇인가?</label>
				<ul class="menubars1">
					<li>A1. 가상 화폐는 미국 달러나 외환(실제 화폐)로 표시되는 것 외에 가치의 디지털 표시로 회계의 단위, 가치 저장, 교환 매체로 기능합니다. 일부 가상 화폐는 전환이
						가능합니다. 이는 실제 화폐와 동등한 가치를 갖으며 실제 화폐의 대체재 역할을 한다는 의미입니다. 국세청은 교환 매체로 사용되는 디지털 화폐나 암호화 화폐같은 다양한 유형의
						전환 가능 가상 화폐를 설명하기 위해 본FAQ에서 "가상 화폐"라는 용어를 사용합니다. 해당하는 라벨에 상관없이 만약 특정 자산이 가상 화폐의 특성을 갖는다면, 이는 연방
						소득세에서의 가상 화폐로 간주할 것입니다.</li>
				</ul> <br />
				<input id="check-btn2" type="checkbox" />
				<label for="check-btn2">Q2. 연방 소득세에서는 가상 화폐는 어떻게 다루는가?</label>
				<ul class="menubars2">
					<li>A2. 가상 화폐는 자산으로 간주하며 자산 거래에 적용 가능한 일반적인 과세 원칙이 가상 화폐를 사용한 거래에 적용됩니다. 세무에서 가상 화폐를 다루는 것에 대한 자세한
						정보는 통지 (Notice) 2014-21을 확인하십시오. 자산 거래의 세금 처리에 대한 자세한 정보는 간행물 544, 자산의 판매 등 처분(영어)을 참고하십시오.</li>
				</ul> <br />
				<input id="check-btn3" type="checkbox" />
				<label for="check-btn3">Q3. 암호화 화폐는 무엇인가?</label>
				<ul class="menubars3">
					<li>A3. 암호화 화폐는 가상 화폐의 일종으로 암호를 사용하여 블록 체인 같은 분산 원장(distributed ledger)에 디지털로 기록된 거래를 보호하기 위해 암호를
						사용합니다. 분산 원장에 기록된 암호화 화폐에 대한 거래는 "온체인 (on-chain)" 거래라고 합니다. 분산 장부에 기록되지 않은 거래는 "오프
						체인(off-chain)" 거래로 불립니다.</li>
				</ul> <br />
				<input id="check-btn4" type="checkbox" />
				<label for="check-btn4">Q4. 제가 가상 화폐를 받고 매도했을 때 이익과 손식을 인식해야 합니까?</label>
				<ul class="menubars4">
					<li>A4. 네. 가상 화폐 매도 시 반드시 자산 매도에 대한 손익을 인식해야 하며 자본 손실 감면 한도가 적용됩니다. 자본 자산, 자본 이익, 자본 손실에 대한 자세한 정보는
						간행물 544, 자산의 판매 등 처분(영어)을 참고하십시오.</li>
				</ul> <br />
				<input id="check-btn5" type="checkbox" />
				<label for="check-btn5">Q5. 2020년 양식 1040은 2020년 중 언제라도 제가 어떤 가상 화폐라도 수령했거나, 매도, 송금, 교환 혹은 가상 화폐에 금융 이자를
					받았는지 질문합니다. 2020년 중에 저는 가상 화폐를 현금으로 매입하였고 다른 가상 화폐 거래는 그해에 없었습니다. 제가 예라고 양식 1040 질문에 답해야 하나요? (2020년
					3월 2일)</label>
				<ul class="menubars5">
					<li>A5. 아니요. 2020년 동안 가상 통화와 관련된 유일한 거래가 실제 통화로 가상 통화를 구매한 경우 양식 1040 질문에 예라고 답할 필요는 없습니다.</li>
				</ul> <br />
				<input id="check-btn6" type="checkbox" />
				<label for="check-btn6">Q6. 저의 이득과 손실이 단기 혹은 장기 자산 손실 혹은 이득이었는지 어떻게 결정하나요?</label>
				<ul class="menubars6">
					<li>A6. 가상 화폐를 1년 이하의 기간을 보유하고 있다가 매도하거나 교환하였다면 단기 자본 이익 혹은 손실이 됩니다. 가상 화폐를 1년 넘게 보유하고 있다가 매도하거나
						교환했다면, 장기 자본 이익 혹은 손실이 됩니다. 가상 화폐를 보유한 기간(보유기간)은 가상 화폐를 매입한 다음날에 시작해서 가상 화폐를 매도 혹은 교환한 날 끝납니다.
						단기 및 장기 자본 이익 및 손실에 대한 자세한 정보는 간행물 544, 자산의 판매 등 처분(영어)을 참고하십시오.</li>
				</ul> <br />
				<input id="check-btn7" type="checkbox" />
				<label for="check-btn7">Q7. 현금을 받고 가상 화폐를 매도했다면 이득 혹은 손실을 어떻게 계산하나요?</label>
				<ul class="menubars7">
					<li>A7. 이득 혹은 손실은 가상 화폐를 교환 받은 액수와 자신의 조정된 베이시스의 차이일 것입니다. 이는 연방 소득세 신고서에 미국 달러로 보고해야 합니다. 매도 및
						교환으로부터의 소득 및 손실에 대한 자세한 정보는 간행물 544, 자산의 판매 등 처분(영어)을 참고하십시오.</li>
				</ul> <br />
				<input id="check-btn8" type="checkbox" />
				<label for="check-btn8">Q8. 현금으로 매입한 가상 화폐에서 나의 베이시스를 어떻게 정하나요?</label>
				<ul class="menubars8">
					<li>A8. 귀하의 베이시스는("원가법(cost basis)"라고도 함) 가상 화폐를 취득하기 위해 사용한 요금, 수수료 기타 매입 비용(미국 달러)입니다. 조정 베이시스는 특정
						비용에 의해 증가되거나 특정 면제 및 공제에 의해 감소된 베이시스입니다. 베이시스에 대한 더 자세한 정보는 간행물 551, 자산의 베이시스(영어)를 확인하십시오.</li>
				</ul> <br />
				<input id="check-btn9" type="checkbox" />
				<label for="check-btn9">Q9. 어떤 사람이 제가 제공한 서비스 대가로 가상 화폐를 지불했다면 저는 소득이 있는 것인가요?</label>
				<ul class="menubars9">
					<li>A9. 네, 서비스를 시행한 것에 대해 가상 화폐가 포함된 자산을 받았을 때, 고용에 의해 시행된 서비스 여부와 상관없이 일반 소득으로 인식해야 합니다. 서비스의 대가
						지급에 대한 자세한 정보는 간행물525, 과세 가능 그리고 과세 불가능 소득(영어)을 확인하십시오.</li>
				</ul> <br />
				<input id="check-btn10" type="checkbox" />
				<label for="check-btn10">Q10. 서비스 시행에 대한 독립 계약자가 받은 가상 화폐는 자영업 소득이 됩니까?</label>
				<ul class="menubars10">
					<li>A10. 네. 일반적으로, 자영업 소득은 고용이 아닌 개인에 의해 행해진 거래 및 사업으로부터 개인에 의해 파생된 모든 총 소득을 포함합니다. 결과적으로 독립 계약자로
						수행한 서비스에 대해 받은 가상 화폐의 공정 시장 가격은 미국 달러로 수령 일을 기준으로 계산하며 자영업 소득으로 간주하여 자영업 세금의 적용을 받습니다.</li>
				</ul> <br />
				<input id="check-btn11" type="checkbox" />
				<label for="check-btn11">Q11. 서비스에 대한 보수로 고용주에 의해 지불된 가상 화폐는 고용세에서 급여가 되나요?</label>
				<ul class="menubars11">
					<li>A11. 네. 일반적으로, 서비스에 대한 보수로 지불된 매체는 보수가 고용세 급여인지 결정에 중요하지 않습니다. 결과적으로 급여로 지불한 가상 화폐의 공정 시장가격은
						수령일의 미국 달러로 계산되고 연방 소득세 원천 징수, 연방 보험 기여 법안 세(FICA), 연방 고용세(FUTA)가 적용되며 양식W-2 '급여와 세금 명세서'에 보고되어야
						합니다. 고용세의 원천징수, 예치, 보고, 납부에 대한 자세한 정보는 간행물 15(통지문E), '고용주의 세금 지침'(영어)PDF을 확인하십시오.</li>
				</ul> <br />
				<input id="check-btn12" type="checkbox" />
				<label for="check-btn12">Q12. 서비스를 제공하고 가상 화폐로 급여를 받았다면, 소득을 어떻게 계산하나요?</label>
				<ul class="menubars12">
					<li>A12. 인식해야 하는 소득 금액은 수령 당시의 가상 화폐의 미국 달러 공정 시장 가격입니다. 가상 화폐 수령한 때는 온체인(on-chain) 거래에서 거래가 분산 장부에
						기록된 날짜와 시간입니다.</li>
				</ul> <br />
				<input id="check-btn13" type="checkbox" />
				<label for="check-btn13">Q13. 제가 제공한 서비스에 대해 받은 가상 화폐에서 베이시스를 어떻게 결정하나요?</label>
				<ul class="menubars13">
					<li>A13. 공정 거래의 일환으로 누군가에게 서비스를 제공하고 가상 화폐를 그 대가로 받았다면, 해당 가상 화폐의 귀하의 베이시스는 가상 화폐를 받았을 당시 미국 달러로 가상
						화폐의 공정 시장 가격입니다. 베이시스에 대한 자세한 정보는 간행물 551, 자산의 베이시스(영어)을 확인하십시오.</li>
				</ul> <br />
				<input id="check-btn14" type="checkbox" />
				<label for="check-btn14">Q14. 누군가가 나에게 서비스를 제공한 것에 대한 대가로 가상 화폐를 지급했다면 손익으로 인식해야 할까요?</label>
				<ul class="menubars14">
					<li>A14. 네. 자본 자산으로 갖고 있던 가상 화폐를 사용하여 서비스의 대가를 지불했다면, 서비스를 자본 자산으로 교환한 것입니다. 그리고 자본 손익이 됩니다. 자본 손익에
						대한 자세한 정보는 간행물 544, 자산의 판매 등 처분(영어)을 참고하십시오.</li>
				</ul> <br />
				<input id="check-btn15" type="checkbox" />
				<label for="check-btn15">Q15. 가상 화폐를 사용하여 서비스에 대가를 지불할 때 손익을 어떻게 계산하나요?</label>
				<ul class="menubars15">
					<li>A15. 손익은 귀하가 받은 서비스의 공정 시장 가격과 교환한 가상 화폐의 조정 베이시스 차이입니다. 매도 혹은 교환으로부터 손익에 대한 자세한 정보는 간행물 544,
						자산의 판매 등 처분(영어)을 참고하십시오.</li>
				</ul> <br />
				<input id="check-btn16" type="checkbox" />
				<label for="check-btn16">Q16. 나의 가상 화폐를 다른 자산과 교환한다면 손익을 인식해야 하나요?</label>
				<ul class="menubars16">
					<li>A16. 네. 자본 자산으로 보유한 가상 화폐를 상품이나 다른 가상 화폐 등 다른 자산으로 교환한다면 자본 손익을 인식할 수 있습니다. 자본 이익과 자본 손실에 대한 자세한
						정보는 간행물 544, 자산의 판매 등 처분(영어)을 참고하십시오.</li>
				</ul> <br />
				<input id="check-btn17" type="checkbox" />
				<label for="check-btn17">Q17. 다른 자산과 가상 화폐를 교환할 때 손익을 계산하는 방법은?</label>
				<ul class="menubars17">
					<li>A17. 손익은 수령한 자산의 공정 시장 가격과 교환한 가상 화폐의 조정 베이시스 사이의 차액입니다. 판매 및 교환으로부터의 손익에 대한 정보는 간행물 544, 자산의 판매
						등 처분(영어)을 참고하십시오.</li>
				</ul> <br />
				<input id="check-btn18" type="checkbox" />
				<label for="check-btn18">Q18. 가상 화폐로 교환한 수령한 자산에 대한 저의 베이시스를 어떻게 결정하나요?</label>
				<ul class="menubars18">
					<li>A18. 공정 거래의 일환으로 귀하는 가상 화폐를 누군가에게 양도하고 교환으로 다른 자산을 받을 수 있습니다. 해당 자산의 베이시스는 교환 당시에 공정 시장 가격이 됩니다.
						시세에 대한 자세한 정보는 간행물 551, 자산의 베이시스(영어)를 확인하십시오.</li>
				</ul> <br />
				<input id="check-btn19" type="checkbox" />
				<label for="check-btn19">Q19. 제가 자산을 (미국 달러가 아닌) 가상 화폐로 매도 혹은 교환하였다면 손익을 인식해야 할까요?</label>
				<ul class="menubars19">
					<li>A19. 네. 자본 자산으로 보유 하던 자산을 가상 화폐와 교환하였다면, 자본 손익을 인식해야 합니다. 자본 자산이 아닌 자산을 가상 화폐로 교환하였다면 경상 손익을
						인식합니다. 손익에 대한 자세한 정보는 간행물 544, 자산의 판매 등 처분(영어)을 참고하십시오.</li>
				</ul> <br />
				<input id="check-btn20" type="checkbox" />
				<label for="check-btn20">Q20. 가상 화폐를 자산으로 교환하였을 때 손익을 어떻게 계산합니까?</label>
				<ul class="menubars20">
					<li>A20. 귀하의 손익은 가상 화폐의 수령했을 때(일반적으로 분배 장부에 거래가 기록되는 때) 공정 시장 가격과 교환된 자산에서 조정된 베이시스 사이에 차액이 됩니다. 판매
						및 교환으로부터의 손익에 대한 정보는 간행물 544, 자산의 판매 등 처분(영어)을 참고하십시오.</li>
				</ul> <br />
				<input id="check-btn21" type="checkbox" />
				<label for="check-btn21">Q21. 자산에 대한 교환으로 받은 가상 화폐에 나의 베이시스는 어떻게 정하나요?</label>
				<ul class="menubars21">
					<li>A21. 공정 거래의 일환으로 자산을 누군가에게 주고 가상 화폐를 그에 대한 교환으로 받았다면 귀하의 가상 화폐 베이시스는 가상화폐를 수령했을 때의 미국 달러로 가상 화폐의
						공정 시장 가격입니다. 베이시스에 대한 자세한 정보는 간행물 551, 자산의 베이시스(영어)를 확인하십시오.</li>
				</ul> <br />
				<input id="check-btn22" type="checkbox" />
				<label for="check-btn22">Q22. 나의 암호 화폐 중 하나에 하드 포크가 발생했습니다. 하지만 저는 어떠한 새로운 암호 화폐도 받지 않았습니다. 제가 소득이 있는
					건가요?</label>
				<ul class="menubars22">
					<li>A22. 암호 화폐가 레거시 분산원장으로부터 영구적인 전환으로 이어지는 프로토콜의 변화를 겪으면 하드포크가 발생합니다. 이 결과로 레거시 분산 원장에 있는 레거시 암호
						화폐에 추가되는 새로운 암호 화폐가 새로운 분산 원장에서 만들어집니다. 귀하의 암호 화폐가 하드포크를 겪었지만, 귀하가 에어드랍(다양한 납세자의 분산 원장 주소로 암호
						화폐의 배급)이나 다른 종류의 전송을 통해 새로운 암호 화폐를 받지 못했다면 과세 대상 소득은 없습니다.</li>
				</ul> <br />
				<input id="check-btn23" type="checkbox" />
				<label for="check-btn23">Q23. 저의 암호 화폐에 하드포크가 발생한 후에 에어드랍이 있었고 저는 새로운 암호 화폐를 받았습니다. 저의 소득이 되나요?</label>
				<ul class="menubars23">
					<li>A23. 하드포크 이후에는 에어드랍이 생깁니다. 그리고 새로운 암호 화폐를 받게되면 이 암호 화폐를 받은 과세 대상 연도에 과세 대상 소득을 갖게 되는 것입니다.</li>
				</ul> <br />
				<input id="check-btn24" type="checkbox" />
				<label for="check-btn24">Q24. 하드포크 이후에 받은 암호 화폐로부터 소득을 어떻게 계산하나요?</label>
				<ul class="menubars24">
					<li>A24. 하드포크 이후 에어드랍으로 암호 화폐를 받으면, 이것을 받았을 때 새로운 암호 화폐의 공정 시장 가격과 같은 경상 소득이 됩니다. 이는 거래가 분산 원장에 기록될
						때 귀하는 암호 화폐의 지배력과 통제권을 갖게 되며, 따라서 암호 화폐를 전송,매도, 교환 등 처분을 할 수 있습니다.</li>
				</ul> <br />
				<input id="check-btn25" type="checkbox" />
				<label for="check-btn25">Q25. 하드포크 이후에 내가 받은 암호 화폐에 나의 베이시스는 어떻게 결정하나요?</label>
				<ul class="menubars25">
					<li>A25. 하드포크 이후에 에어드랍으로 암호 화폐를 받으면, 해당 암호 화폐에서 귀하의 베이시스는 연방 소득세 신고서에 소득에 포함되는 액수와 같습니다. 소득에 포함되는
						액수는 수령 당시에 암호 화폐의 공정 시장 가격입니다. 암호 화폐를 받게되면 이를 전송, 매도, 교환 등 처분할 수 있습니다. 이는 일반적으로 에어드랍이 분산 원장에
						기록되는 날짜와 시간입니다. 국세청 예규 2019-24(영어)PDF를 확인하십시오. 베이시스에 대한 자세한 정보는 간행물 551자산의 베이시스(영어)를 확인하십시오.
					</li>
				</ul> <br />
				<input id="check-btn26" type="checkbox" />
				<label for="check-btn26">Q26. 제가 암호 화폐 거래를 위한 플랫폼을 통해 즉, 암호 화폐 교환을 통해, 암호 화폐를 받았습니다. 이것을 받을 당시에 암호 화폐의 공정
					시장 가격을 어떻게 결정하나요?</label>
				<ul class="menubars26">
					<li>A26. 귀하가 암호 화폐 교환에 의한 거래에서 암호 화폐를 받았다면, 이 암호 화폐의 가치는 이 거래에 대해 암호 화폐 교환에 의해 기록된 미국 달러 액수입니다. 만약
						거래가 중앙 집중적이거나 분권화된 암호 화폐 교환에 의해 이루어졌지만 분산 원장에는 기록되지 않았거나 아니면 오프 체인 거래인 경우, 공정 시장 가격은 온체인 거래였을 경우
						장부에 기록되었을 날짜와 시간에 암호 화폐가 교환 거래되었던 액수가 됩니다.</li>
				</ul> <br />
				<input id="check-btn27" type="checkbox" />
				<label for="check-btn27">Q27. 제가 암호 화폐 교환과 관련이 없는 P2P 거래에서 혹은 다른 유형의 거래에서 암호 화폐를 받았습니다. 어떻게 제가 수령한 당시에 암호
					화폐의 공정 시장 가격을 결정할 수 있을까요?</label>
				<ul class="menubars27">
					<li>A27. P2P거래에서 혹은 그밖의 암호 화폐 교환이 아닌 거래에서 암호 화폐를 받았다면, 암호 화폐의 공정 거래 가격은 분산 원장에 기록된 혹은 온체인 거래였다면
						기록되었을 거래 날짜와 시간을 기준으로 결정됩니다. 국세청은 공정 거래 가격의 증거로서 암호 화폐에 의해 결정된 가격 혹은 암호 화폐 전세계 인덱스를 분석한 블록 체인
						익스폴로러에 의해 결정된 가격 혹은 정확한 날짜와 시간에 암호 화폐의 가격을 계산합니다. 만약 귀하가 익스플로러 가격을 사용하지 않는다면 귀하는 반드시 암호 화폐의 공정
						시장 가격을 정확하게 표시하고 있다는 것을 입증해야 합니다.</li>
				</ul> <br />
				<input id="check-btn28" type="checkbox" />
				<label for="check-btn28">Q28. 저는 자산 혹은 서비스에 대한 교환으로 공표 가격(published value)을 갖고 있지 않은 암호 화폐를 받았습니다. 이 암호
					화폐의 공정 시장 가격을 어떻게 결정해야 할까요?</label>
				<ul class="menubars28">
					<li>A28. 자산이나 서비스에 대한 교환으로 암호 화폐를 받았을 때 그리고 그 암호 화폐가 어떤 암호 화폐 교환에서 거래된 것이 아니고 공표 가격이 없다면, 수령한 암호 화폐의
						공정 가격은 거래가 일어났을 때 암호 화폐에 대해 교환된 자산 혹은 서비스의 공정 시장 가격과 같습니다.</li>
				</ul> <br />
				<input id="check-btn29" type="checkbox" />
				<label for="check-btn29">Q29. 수령한 암호 화폐에 대한 보유 기간 시작은 언제부터 인가요?</label>
				<ul class="menubars29">
					<li>A29. 귀하의 보유 기간은 수령한 다음 날에 시작합니다. 보유 기간에 대한 자세한 정보는 간행물 544, 자산의 판매 등 처분(영어)를 참고하십시오.</li>
				</ul> <br />
				<input id="check-btn30" type="checkbox" />
				<label for="check-btn30">Q30. 내가 소유한 암호 화폐에 소프트포크가 발생했을 때 제가 소득이 있는 건가요?</label>
				<ul class="menubars30">
					<li>A30. 아니오. 소프트포크는 분산 원장이 장부의 전환으로 이어지지 않는 프로토콜 변화를 겪는 것입니다. 따라서 이는 새로운 암호 화폐의 생성으로 이어지지 않습니다.
						소프트포크로 새로운 암호 화폐를 받지 않으므로, 귀하는 소프트포크 이전과 같은 입장에 있게 됩니다. 이는 소프트 포크가 귀하에게 어떤 소득도 되지 않는다는 의미입니다.
					</li>
				</ul> <br />
				<input id="check-btn31" type="checkbox" />
				<label for="check-btn31">Q31. 제가 실직 증여로 가상 화폐를 받았습니다. 저에게 소득이 잡히나요?</label>
				<ul class="menubars31">
					<li>A31. 아니오. 귀하가 가상 화폐를 실질 증여로 가상 화폐를 받았다면 이를 매도, 교환 혹은 처분할 때까지 소득으로 잡히지 않습니다. 증여에 대한 자세한 사항은 간행물
						559, 유족, 유언 집행자, 관리자(영어)를 참조하십시오.</li>
				</ul> <br />
				<input id="check-btn32" type="checkbox" />
				<label for="check-btn32">Q32. 제가 실질 증여를 받은 가상 화폐에 나의 베이시스를 어떻게 결정하나요?</label>
				<ul class="menubars32">
					<li>A32. 귀하가 실질 증여로 받은 가상 화폐의 베이시스는 해당 가상 화폐를 팔거나 처분했을 때 손실 혹은 이익이 있느냐에 따라 다릅니다. 이익으로 결정된 경우,귀하의
						베이시스는 기증자의 베이시스와 같습니다. 여기에 양도에 납부하는 양도세가 추가됩니다. 손실로 결정된 경우, 귀하의 베이시스는 기증자의 베이시스보다 적거나 양도를 받았을 때에
						가상 화폐의 공정 시장 가격과 같습니다. 만약 귀하가 기증자의 베이시스를 입증할 어떤 문서를 갖고 있지 않다면, 귀하의 베이시스는 0입니다. 양도로 받은 자산의 베이시스에
						대한 자세한 정보는 간행물 551자산의 베이이스(영어)를 확인하십시오.</li>
				</ul> <br />
				<input id="check-btn33" type="checkbox" />
				<label for="check-btn33">Q33. 증여로 받은 가상 화폐를 위한 보유 기간은 어떻게 되나요?</label>
				<ul class="menubars33">
					<li>A33. 증여로 받은 가상화폐에서 보유기간은 가상 화폐를 귀하에게 증여한 사람이 소유하고 있던 시간을 포함합니다. 하지만 만약 귀하가 이 사람의 보유 기간을 입증할 문서를
						갖고 있지 않다면 보유 기간은 귀하가 증여받은 다음 날부터 시작됩니다. 보유 기간에 대한 자세한 사항은 간행물 544, 자산의 판매 등 처분(영어)을 참고하십시오.</li>
				</ul> <br />
				<input id="check-btn34" type="checkbox" />
				<label for="check-btn34">Q34. I자선 기관에 가상 화폐를 기부한다면, 소득, 이익, 손실로 잡히나요?</label>
				<ul class="menubars34">
					<li>A34. 가상 화폐를 내국세법 170(c)절에 설명하고 있는 자선 기관에 기부한다면, 기부에의한 귀하의 소득, 이익, 손실로 잡히지 않습니다. 자선 기관 기부에 대한 자세한
						정보는 간행물 526자선기관 기부(영어)를 확인하십시오.</li>
				</ul> <br />
				<input id="check-btn35" type="checkbox" />
				<label for="check-btn35">Q35. 가상 화폐를 기부했을 때 자선 기관 기부 공제는 어떻게 계산해야 하나요?</label>
				<ul class="menubars35">
					<li>A35. 귀하의 자선 기부 공제는 일반적으로 1년 넘게 가상 화폐를 보유했다면 기부한 때에 가상 화폐의 공정 시장 가격과 같습니다. 만약 귀하가 가상 화폐를1년 이하로
						보유했다면 귀하의 공제는 기부 당시에 가상 화폐의 베이시스 혹은 가상 화폐의 공정 시장 가격보다 적을 것입니다. 자선 기부에 대한 자세한 정보는 간행물 526자선기관
						기부(영어)를 확인하십시오.</li>
				</ul> <br />
				<input id="check-btn36" type="checkbox" />
				<label for="check-btn36">Q36. 저의 자선 기관이 가상 화폐 기부를 받았을 때 저의 기부자에 대한 인증 책임에는 어떤 것이 있을까요? (2019년 12월 26일
					추가)</label>
				<ul class="menubars36">
					<li>A36. 자선 기관이 기증자가 가상 화폐 기부에 대해 $250이상의 공제를 신청한다면 반드시 받아야 하는 즉각 서면 인증을 제공하여 기증자를 도울 수 있습니다. 자세한
						사항은 간행물 1771, 자선 기부 입증과 공개 요건(영어)PDF을 참조하십시오. <br />
						자선 기관은 일반적으로 기증자가 $5,000 이상의 공제를 신청한다면 그리고 기부자가 세금을 감면받기 위한 증명으로 서명을 받기 위해 기관에 양식 8283을 제출한다면 기부
						공제 자산의 수취를 인증하는 기부자의 양식 8283, 비현금성 자선 기부(영어)에 서명해야 할 의무가 있습니다. 양식 8283의 기증 받은 사람의 서명은 기부된 자산의 평가
						액에 동의를 의미하지 않습니다. 이 서명은 특정한 날짜에 양식 8283에 설명하고 있는 자산의 수령을를 인증하는 것이며 기부 받은 사람은 이 기부 받은 자산의 처분에 대해
						6050L절에 명시된 정보 보고의 요건을 이해하고 있다는 것을 의미합니다. (FAQ36에 양식 8283의 논의를 참고하십시오) 자세한 사항은 양식 8283의 지침(영어)을
						확인하십시오.</li>
				</ul> <br />
				<input id="check-btn37" type="checkbox" />
				<label for="check-btn37">Q37. 나의 자선 기관이 가상 화폐의 기부를 받았습니다. 나의 국세청 보고 요건은 어떻게 되나요? (2021년 12월 26일
					추가)</label>
				<ul class="menubars37">
					<li>A37. 가상 화폐를 받은 자선 기관은 해당 기부를 비현금성 기부로 간주합니다. 자세한 정보는 간행물 526자선 기관 기부(영어)를 확인하십시오. 면세 자선 기관의 책임은
						다음과 같습니다. <br />
						<br />
						1) 자선 기관들은 비현금성 기부를 양식 990시리즈 연간 신고서와 해당하는 경우 그 부속 서류인 스케줄 M에 보고합니다. 자세한 사항은 양식 990과 스케줄 M을
						참고하십시오.<br />
						2) 자선 기관들이 자선 공제 자산을 (혹은 그 일부를) 매도 교환 등 처분한다면—예를 들어 FAQ#4의 설명과 같이 가상 화폐를 실제 화폐를 받고 매도—반드시 최초로
						자산을 받고 최초의 기증자에게 이 양식의 사본을 제출한 후3일 이내에 양식 8282, 수증자 정보 신고서(영어)를 제출해야 합니다. 더 자세한 정보는 양식 8282(영어)에
						대한 지침을 확인하십시오.
					</li>
				</ul> <br />
				<input id="check-btn38" type="checkbox" />
				<label for="check-btn38">Q38. 제가 가상 화폐 소유가 가능한 여러 개의 디지털 지갑, 계정 혹은 주소를 소유하고 나의 가상 화폐를 한 곳에서 다른 곳으로 전송했다면
					소득, 이익, 손실로 인식해야 하나요?</label>
				<ul class="menubars38">
					<li>A38. 아니오. 만약 귀하의 가상 화폐를 귀하에게 속한 지갑, 주소, 계정으로부터 또다른 귀하의 지갑, 주소, 계정으로 양도했다면, 이 양도는 귀하가 이 전송의 결과로
						거래소나 플랫폼으로부터 정보 신고서를 받았다고 하더라도 과세 대상 이벤트가 아닙니다.</li>
				</ul> <br />
				<input id="check-btn39" type="checkbox" />
				<label for="check-btn39">Q39. 제가 한 종류의 가상 화폐의 여러 유닛을 가지고 있습니다. 이 중 일부는 다른 시간에 다른 베이시스 값에 매수한 것입니다. 만약 제가 이
					가상 화폐의 일부를 매도, 교환 등 처분한다면, 어느 유닛을 판매 교환 등 처분한 것으로 선택할 수 있을까요?</label>
				<ul class="menubars39">
					<li>A39. 네. 귀하는 어떤 유닛 혹은 복수의 유닛의 가상 화폐가 거래에 포함되었다고 특정할 수 있고 해당 유닛의 베이시스를 입증할 수 있다면 어느 유닛의 가상 화폐를 매도,
						교환 등 처분한 것으로 간주하도록 선택할 수 있습니다.</li>
				</ul> <br />
				<input id="check-btn40" type="checkbox" />
				<label for="check-btn40">Q40. 가상 화폐의 특정 유닛을 어떻게 특정할 수 있나요?</label>
				<ul class="menubars40">
					<li>A40. 귀하는 특정 유닛의 고유 디지털 식별로써 개인 키, 공개 키, 주소 등을 서류로 입증하거나 단일 계좌, 지갑, 혹은 주소에 보유한 비트 코인 등 특정 가상 화폐의
						모든 유닛에 대한 거래 정보를 보여주는 기록에 의해서 가상 화폐의 특정 유닛을 찾을 수 있습니다. 이 정보는 반드시 다음의 정보를 나타내야 합니다. (1) 유닛을 매수한
						날짜와 시간, (2)매수한 시간에 각 유닛의 베이시스와 공정 시장 가격, (3) 각 유닛이 매도, 교환 등 처분한 날짜와 시간, 그리고 (4)매수, 교환 혹은 처분했을 때
						각 유닛의 공정 시작 가격과 각 유닛을 대가로 받은 자산의 가격 혹은 돈의 액수</li>
				</ul> <br />
				<input id="check-btn41" type="checkbox" />
				<label for="check-btn41">Q41. 제가 이 유닛을 특정할 수 없다면 매도, 교환, 혹은 기타 처분을 어떻게 계산하나요?</label>
				<ul class="menubars41">
					<li>A41. 가상 화폐의 특정 유닛을 특정할 수 없다면, 이 유닛이 가장 최초로 매입이나 취득된 가상 화폐 유닛을 시작으로 시간 순서로 매도, 교환 혹은 처분한 것으로
						여깁니다. 즉, 선입 선출(FIFO) 방식으로 합니다.</li>
				</ul> <br />
				<input id="check-btn42" type="checkbox" />
				<label for="check-btn42">Q42. 제가 가상 화폐를 거래했지만, W-혹은 양식 1099 같은 수취인 증명서 혹은 정보 신고서를 받지 못했다면, 언제 연방 소득세 신고서에
					나의 소득, 손해, 이익을 보고해야만 합니까?</label>
				<ul class="menubars42">
					<li>A42. 귀하가 수취인 증명서 혹은 정보 신고서를 받았는지 여부 혹은 액수에 상관없이 가상 화폐과 관련된 모든 과세 대상 거래로부터의 소득, 이익, 손해는 귀하의 연방
						소득세 신고서에 보고해야 합니다.</li>
				</ul> <br />
				<input id="check-btn43" type="checkbox" />
				<label for="check-btn43">Q43. 가상 화폐로부터 자산 이익 혹은 손실을 어디에 보고합니까?</label>
				<ul class="menubars43">
					<li>A43. 귀하는 반드시 대부분의 매도 등 자산 거래를 보고해야 합니다. 그리고 자산 이익, 손실을 양식 8949, 자본 자산의 판매 등 처분(영어)에 포함된 국세청 양식과
						지침에 따라 계산해야만 합니다. 그리고 자본 이익과 공제 가능한 자산 손실을 양식 1040, 스케줄 D, 자본 이익 및 손실(영어)에 요약합니다.</li>
				</ul> <br />
				<input id="check-btn44" type="checkbox" />
				<label for="check-btn44">Q44. 가상 화폐로부터 저의 경상 소득을 어디에 보고하나요?</label>
				<ul class="menubars44">
					<li>A44. 해당하는 경우 양식 1040, 미국 개인 소득세 신고서, 양식 1040-SS(영어), 양식 1040-NR(영어), 혹은 양식 1040, 스케줄 1, 추가 소득과
						소득 조정(영어)PDF에 가상 화폐로부터 경상 소득을 보고해야만 합니다.</li>
				</ul> <br />
				<input id="check-btn45" type="checkbox" />
				<label for="check-btn45">Q45. 가상 화폐의 세금 처리에 대한 자세한 정보를 어디에서 찾을 수 있을까요?</label>
				<ul class="menubars45">
					<li>A45. 가상 통화에 대한 정보는 IRS.gov/virtualcurrency 에서 확인할 수 있습니다. 가상 화폐 관련 세금 처리에 대한 많은 질문은 고지
						2014-21(영어)PDF 및​ ​​ ​​​​세부 규칙(Rev. Rul.) 2019-24(영어)PDF를 참조해서 답변할 수 있습니다.</li>
				</ul> <br />
				<input id="check-btn46" type="checkbox" />
				<label for="check-btn46">Q46. 제가 한 가상 화폐에 거래에 대해 어떤 기록을 보관해야 하나요?</label>
				<ul class="menubars46">
					<li>A46. 내국세법과 규정은 납세자가 세금 신고서에 취할 입장을 입증하기에 충분한 기록을 관리하도록 납세자에게 요구합니다. 따라서 가상 화폐의 수령, 매도, 교환 등 처분과
						가상 화폐의 공정 시장 가격을 입증하는 기록을 보관해야 합니다.</li>
				</ul> <br />
			</section>

		</div>

