<div class="tradingview-widget-container" style="height:auto;width: 1000px;">
    <div id="tradingview_1fdf8"></div>
    <script src="https://s3.tradingview.com/tv.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        const socket = io();
        let a = new TradingView.widget(
            {
                "autosize": true,
                "symbol": `UPBIT:{{coin}}`,
                "interval": "3",
                "timezone": "Etc/UTC",
                "theme": "light",
                "style": "1",
                "locale": "kr",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": true,
                "allow_symbol_change": true,
                "container_id": "tradingview_1fdf8"
            }
        );
        function show() {
            var valuestr = document.getElementById('krnameaa');
            var chstr = valuestr.options[valuestr.selectedIndex].id
            a = new TradingView.widget(
                {
                    "autosize": true,
                    "symbol": "UPBIT:" + chstr,
                    "interval": "3",
                    "timezone": "Etc/UTC",
                    "theme": "light",
                    "style": "1",
                    "locale": "kr",
                    "toolbar_bg": "#f1f3f6",
                    "enable_publishing": true,
                    "allow_symbol_change": true,
                    "container_id": "tradingview_1fdf8"
                }
            );
            socket.emit("coin", chstr);
            socket.on("currentv", (data) => {
                var pay = document.getElementById('pay')
                pay.value = data
                display()
            })
            socket.on("setcoin", (data) => {
                var pay = document.getElementById('pay')
                pay.value = data
                display()
                // 특정 신호를 받으면 실행할 코드
            })
        }
    </script>
</div>