<link href="https://webfontworld.github.io/SCoreDream/SCoreDream.css" rel="stylesheet">
<link rel="stylesheet" href="css/develop.css">
<div class="All-Box">
  <div class="Nav-Bar">
    <div class="Nav-Bar__User-Name-box">
      <div class="User-Name">
        <div>
          <span>현재 사용자:</span>
          <span>{{name}}</span>
        </div>
      </div>
    </div>
    <div class="Nav-Bar__T-name">
      <div class="CLogo-Img">
        <svg width="46" height="14" viewBox="0 0 46 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M39.4071 5.00397C39.9756 4.50082 40.7323 4.16406 41.4692 4.16406C43.4125 4.16406 45.0071 5.87161 45.0071 8.00308V11.5925H42.9609V8.00308C42.9609 6.96508 42.2259 6.03999 41.2177 6.03999C40.2113 6.03999 39.4764 6.96309 39.4764 8.00308V11.5925H37.3628V4.3681H39.6785L39.4071 5.00397Z" fill="#FFB287" />
          <path d="M33.1433 9.94671C32.1232 9.94671 31.2971 9.06323 31.2971 7.96778C31.2971 6.87233 32.1232 5.98885 33.1433 5.98885C34.1635 5.98885 34.9876 6.87233 34.9876 7.96778C34.9896 9.06323 34.1655 9.94671 33.1433 9.94671ZM33.1433 4.13867C31.0257 4.13867 29.3123 5.85216 29.3123 7.96976C29.3123 10.0854 31.0257 11.8009 33.1433 11.8009C35.259 11.8009 36.9764 10.0874 36.9764 7.96976C36.9784 5.85018 35.259 4.13867 33.1433 4.13867Z" fill="#FFB287" />
          <path d="M14.3267 7.28863C14.61 6.55173 15.3033 6.03273 16.1075 6.03273C16.9158 6.03273 17.6051 6.54975 17.8864 7.28863H14.3267ZM19.8851 7.28863C19.5702 5.48204 17.9934 4.11719 16.1095 4.11719C13.9979 4.11719 12.2705 5.82474 12.2705 7.95422C12.2705 10.0639 13.9979 11.7913 16.1095 11.7913C17.2664 11.7913 18.3222 11.2742 19.0096 10.4522L17.4684 9.41812C17.1257 9.78657 16.6384 10.0144 16.1075 10.0144C15.2597 10.0144 14.5426 9.43198 14.291 8.63763H17.9141V8.64358H19.8792V8.63763C19.9307 8.40389 19.9466 8.18599 19.9466 7.95422C19.9466 7.72443 19.9267 7.50455 19.8851 7.28863Z" fill="#FFB287" />
          <path d="M12.6765 4.72077L11.8465 6.4917C11.3354 6.35304 10.7669 6.41643 10.2737 6.71753C9.88342 6.95128 9.59619 7.28803 9.42979 7.67629V11.5945H7.33398V4.36816H9.81409L9.43177 5.02385C10.4678 4.44542 11.6484 4.37213 12.6765 4.72077Z" fill="#FFB287" />
          <path d="M4.05765 4.11328C1.86478 4.11328 0.0700684 5.82479 0.0700684 7.95229C0.0700684 10.0639 1.8628 11.8369 4.05765 11.7933C5.37694 11.7675 6.36938 11.1891 7.03496 10.4047L5.44033 9.33497C5.10555 9.6638 4.644 9.89161 4.05567 9.9035C2.94041 9.92925 2.02919 9.02595 2.02919 7.95428C2.02919 6.87071 2.94041 6.00109 4.05567 6.00109C4.62815 6.00109 5.13923 6.23682 5.50768 6.60923L6.48823 4.91951C5.81472 4.41438 4.97481 4.11328 4.05765 4.11328Z" fill="#FFB287" />
          <path d="M24.4033 11.3209C23.0781 11.3209 21.9985 10.3225 21.9985 9.09438C21.9985 8.45454 22.3036 7.84046 22.8364 7.40862C22.9315 7.33335 22.9711 7.24024 22.9711 7.24024C23.0563 7.07583 23.1573 6.89358 23.1732 6.87377C23.1772 6.86783 23.1831 6.85793 23.189 6.84802C23.2069 6.81237 23.2425 6.74501 23.4406 6.72124L23.6684 6.69549C24.1359 6.64399 25.1165 6.539 25.479 6.4974C25.5602 6.48948 25.5978 6.57267 25.5978 6.57466C25.5978 6.57466 25.8058 7.11148 25.8395 7.19666C25.8752 7.28977 25.9524 7.38881 25.9881 7.42051C26.5091 7.84442 26.8082 8.45454 26.8082 9.09438C26.8082 10.3245 25.7306 11.3209 24.4033 11.3209ZM24.5915 4.82749C24.5579 5.02558 24.4707 5.49506 24.439 5.6674C24.439 5.66938 24.437 5.67136 24.437 5.67334L24.3736 5.6773L24.2211 4.82749L24.2944 4.8572C24.3657 4.8889 24.4489 4.8889 24.5202 4.8572C24.5182 4.85918 24.5539 4.84532 24.5915 4.82749ZM24.4033 1.7848C25.3978 1.7848 26.204 2.53359 26.204 3.45472C26.204 3.94796 25.9643 4.41546 25.5543 4.73637C25.4057 4.85324 25.376 4.98794 25.376 4.98794L25.1977 5.57826C25.1937 5.5842 25.1898 5.60005 25.1878 5.60203L25.0016 5.61986L25.2135 4.44517C25.2314 4.35405 25.1898 4.26095 25.1086 4.2035C25.0313 4.14605 24.9184 4.13813 24.8312 4.17181C24.8312 4.17181 24.645 4.25302 24.5678 4.28472C24.542 4.29462 24.4786 4.31047 24.4014 4.31047C24.334 4.31047 24.2785 4.30057 24.2429 4.28472L23.9794 4.17181C23.8903 4.13219 23.7813 4.14605 23.7021 4.2035C23.6189 4.26095 23.5813 4.35207 23.5971 4.44517L23.8249 5.69909C23.8289 5.73277 23.819 5.73475 23.819 5.73673L23.6565 5.75258H23.6367C23.5991 5.75258 23.5951 5.74267 23.5951 5.73475C23.5575 5.55647 23.4485 5.07312 23.4327 5.03152C23.4168 4.98002 23.3614 4.82353 23.2326 4.72052C22.8345 4.40159 22.6047 3.94004 22.6047 3.4567C22.6047 2.53359 23.4109 1.7848 24.4033 1.7848ZM26.9033 6.23394C26.8973 6.22998 26.8815 6.20423 26.8815 6.18244V6.10914C26.8795 5.96453 26.8775 5.58024 26.8815 5.5327C26.8854 5.49506 26.9033 5.47525 26.9191 5.4594C27.5431 4.8572 27.8898 4.06286 27.8898 3.22691C27.8898 1.44805 26.3268 0 24.4053 0C22.4858 0 20.9229 1.44805 20.9229 3.22691C20.9229 4.00541 21.2339 4.7542 21.8242 5.39007C21.9312 5.50496 21.9292 5.56835 21.9312 5.57033L21.9272 5.57826V5.58618C21.9331 5.84964 21.9351 6.15074 21.9312 6.18442C21.9252 6.20819 21.9173 6.22205 21.9173 6.22205H21.9193C20.8734 6.95499 20.2771 8.06827 20.2771 9.27662C20.2771 11.3863 22.1293 13.1038 24.4073 13.1038C26.6873 13.1038 28.5415 11.3883 28.5415 9.27662C28.5375 8.07619 27.9413 6.96688 26.9033 6.23394Z" fill="#FFB287" />
        </svg>
      </div>
      <nav class="Nav-Bar-Item-Box">
        <ul>
          <!--1-->
          <li>
            <a href="/develop1">
              개발 1팀
            </a>
          </li>
          <!--2-->
          <li>
            <a href="/develop2">
              개발 2팀
            </a>
          </li>
          <!--3-->
          <li>
            <a href="/account">
              회계팀
            </a>
          </li>
          <!--4-->
          <!--5-->
          <li>
            <a href="/contents">
              컨텐츠팀
            </a>
          </li>
          <!--6-->
          <li>
            <a href="/making">
              메이커스페이스팀
            </a>
          </li>
          <li>
            <a href="/shownfccode">
              NFC 카드 등록
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="Body">
    {{{body}}}
  </div>
</div>